.utk-button-nav {
  display: flex;
  margin: $golden-ratio-4 auto;
  padding: 0;
  flex-direction: row;
  justify-content: space-between;
  border-radius: $golden-ratio-4;
  width: $gr-long;
  max-width: 100%;
  box-shadow: $box-shadow;

  @include respond(xs) {
    flex-direction: column;
    width: $gr-long;
    border-radius: $golden-ratio-1;
    margin: $golden-ratio-4 auto;
  }

  > a {
    display: flex;
    flex-grow: 1;
    height: $golden-ratio-4;
    font-size: $type-2;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: $white;
    color: $smokey;
    border-right: 1px solid $gray-1;
    border-left: 1px solid $gray-1;

    @include respond(xs) {
      border-left: none;
      border-right: none;
      border-top: 1px solid $gray-1;
      border-bottom: 1px solid $gray-1;
    }

    &.utk-button-nav--link-active {
      background-color: $gray-0;
      color: $smokey !important;
      font-weight: 700;
    }

    &:link,
    &:visited {
      color: $smokey;
    }

    &:hover,
    &:focus {
      color: $globe;
    }

    &:first-child {
      border-top-left-radius: $golden-ratio-4;
      border-bottom-left-radius: $golden-ratio-4;
      border-left: 0;
    }

    &:last-child {
      border-top-right-radius: $golden-ratio-4;
      border-bottom-right-radius: $golden-ratio-4;
      border-right: 0;
    }

    @include respond(xs) {
      &:first-child {
        border-top-left-radius: $golden-ratio-1;
        border-top-right-radius: $golden-ratio-1;
        border-bottom-left-radius: 0;
        border-top: none;
      }

      &:last-child {
        border-top-right-radius: 0;
        border-bottom-left-radius: $golden-ratio-1;
        border-bottom-right-radius: $golden-ratio-1;
        border-bottom: none;
      }
    }

    &.active {
      background-color: $smokey;
      border-color: $smokey;
      color: $white !important;
    }
  }
}
