.utk-card {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: $golden-ratio-4;
  position: relative;
  border-left: $golden-ratio-1 solid $orange;
  background-color: $gray-0;

  &-style {
    &-orange {
      border-color: $orange;
    }

    &-smokey {
      border-color: $smokey;
    }

    &-rock {
      border-color: $rock;
    }

    &-valley {
      border-color: $valley;
    }

    &-regalia {
      border-color: $regalia;
    }

    &-energy {
      border-color: $energy;
    }

    &-summitt {
      border-color: $summitt;
    }

    &-eureka {
      border-color: $eureka;
    }

    &-fountain {
      border-color: $fountain;
    }
  }

  .utk-card--content {
    width: $gr-short;
    padding: $golden-ratio-2 $golden-ratio-3;

    @include respond(xs) {
      padding: $golden-ratio-2;
    }

    p,
    ul,
    ol,
    li {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .utk-card--image {
    display: flex;
    width: $gr-long;
    padding-top: $gr-short;
    background-color: $gray-1;
    position: relative;

    img {
      min-width: 100%;
      max-width: 100%;
      position: absolute;
      right: 0;
      top: 0;
      transition: $transition-all-fast;
    }

    a,
    a:visited {
      &::after {
        z-index: 1;
        position: absolute;
        top: $golden-ratio-3;
        right: -$golden-ratio-2;
        bottom: auto;
        left: auto;
        font-size: $type-2;
        display: flex;
        justify-content: center;
        align-items: center;
        width: $golden-ratio-4;
        height: $golden-ratio-4;
        border-radius: $golden-ratio-4;
        box-shadow: $box-shadow-float;
        background-color: $smokey;
        color: $gray-1 !important;
        content: "\E812";
        font-family: fontello, monospace;
        -webkit-font-smoothing: antialiased;
        transition: $transition-all-fast;
      }
    }

    a:hover,
    a:focus {
      &::after {
        background-color: $globe;
        color: $white !important;
      }
    }

    .utk-lazyload {
      position: static;

      p {
        display: none;
      }
    }
  }

  &.utk-card-after {
    flex-direction: row-reverse;

    .utk-card--image {
      a {
        &::after {
          top: $golden-ratio-3;
          right: auto;
          bottom: auto;
          left: -$golden-ratio-2;
        }
      }
    }
  }
}

.wp-block-columns .utk-card,
.utk-card.utk-card-align-right,
.utk-card.utk-card-align-left {
  display: flex;
  flex-direction: column;
  border-left: none;
  border-top-width: $golden-ratio-1;
  border-top-style: solid;

  @include respond(xs) {
    border: none !important;
  }

  .utk-card--content {
    width: 100%;

    header {
      h4 {
        font-size: $type-2;
        text-transform: none;
        margin: 0 !important;
        line-height: 1.29em;
      }
    }

    p {
      margin-top: $golden-ratio-0;
      font-size: $type-2;

      @include respond(xs) {
        font-size: $type-1;
      }
    }
  }

  .utk-card--image {
    width: 100%;
    padding-right: 0;
    padding-top: $gr-long;

    img {
      left: 0;
      right: auto;
    }

    a {
      &::after {
        top: auto;
        right: $golden-ratio-3;
        bottom: -$golden-ratio-2;
        left: auto;
      }
    }
  }

  &.utk-card-after {
    flex-direction: column-reverse;

    .utk-card--image {
      a {
        &::after {
          top: -$golden-ratio-2;
          right: $golden-ratio-3;
          bottom: auto;
          left: auto;
        }
      }
    }
  }
}

body:not(.wp-admin) {
  .utk-card {
    &[class*="utk-card-align-"] {
      width: $gr-short;
      max-width: 100%;

      @include respond(xs) {
        width: calc(100% + 36px) !important;
        max-width: calc(100% + 36px) !important;
        float: none !important;
        margin-top: $golden-ratio-2 !important;
        margin-right: 0 !important;
        margin-bottom: $golden-ratio-3 !important;
        margin-left: -$golden-ratio-2 !important;
      }
    }

    &-align-right {
      float: right;
      margin-left: $golden-ratio-4;
    }

    &-align-left {
      float: left;
      margin-right: $golden-ratio-4;
    }
  }
}

body.wp-admin {
  .block-editor-block-list__layout .block-editor-block-list__block[data-align=right] > .block-editor-block-list__block-edit,
  .block-editor-block-list__layout .block-editor-block-list__block[data-align=left] > .block-editor-block-list__block-edit {
    width: $gr-short;
    max-width: 100%;
    margin-left: $golden-ratio-4;
  }
}
