.utk-hours-by-location-block {
  .utk-hours-location--details--week {
    font-size: $type-1;
    line-height: 1.47em;
    margin-top: -$golden-ratio-0;
    border: 2px solid $gray-0;
    border-radius: $golden-ratio-0;

    &--daysofweek {
      .utk-hours--week--dayofweek {
        text-transform: uppercase;
        font-weight: 700;
        font-size: $type-0;
        color: $smokey;

        span {
          text-transform: none;
          font-weight: 400;
          font-size: $type-1;
        }
      }
    }

    > div {
      display: flex;
      border-bottom: 2px solid $gray-0;

      &:last-child {
        border-bottom: none;
      }

      > div:first-child {
        width: 160px !important;
        flex-shrink: 0;
        flex-grow: 0;
        color: $smokey;
        padding: $golden-ratio-1 $golden-ratio-1;

        h4 {
          font-size: $type-1;
          letter-spacing: -0.029em;
          text-transform: none;
          margin-bottom: 2px;
        }
      }

      > div:last-child {
        width: auto;
        flex-grow: 1;
        display: flex;
      }

      .utk-hours--week {
        width: 100%;

        &--dayofweek {
          border-top: 6px solid $white;
        }

        &--hours,
        &--dayofweek {
          flex-basis: calc(100% / 7);
          flex-shrink: 0;
          flex-grow: 0;
          padding: $golden-ratio-1 $golden-ratio-1;
          overflow-x: hidden;
          overflow-y: hidden;
          margin-bottom: -2px;

          &.active {
            border-left: 6px solid $orange;
            border-right: 6px solid $orange;
            background-color: rgba($white, 0.47);
          }
        }
      }
    }

    > div:first-child .utk-hours--week {
      &--hours,
      &--dayofweek {
        &.active {
          border-top: 6px solid $orange;
          margin-top: -8px;
          padding-top: 19px;
        }
      }
    }

    > div:last-child .utk-hours--week {
      &--hours,
      &--dayofweek {
        &.active {
          border-bottom: 6px solid $orange;
          margin-bottom: -8px;
        }
      }
    }
  }
}
