.utk-hours-by-location-block.utk-hours-by-location-block-view-week {
  @include respond(xs, sm) {
    margin-left: -$golden-ratio-3;
    position: relative;
    width: calc(100% + 58px);

    @include respond(xs) {
      margin-left: -$golden-ratio-2;
      width: calc(100% + 36px);
    }

    section {
      overflow-x: scroll;
      overflow-y: hidden;
      padding-bottom: $golden-ratio-2;
      position: relative;

      > div {
        border-radius: 0 !important;
        border-left: none !important;
        border-right: none !important;
        min-width: 768px;
      }
    }

    .utk-hours-location {
      margin-bottom: $golden-ratio-2;

      @include respond(xs, sm) {
        flex-direction: column;
      }

      &--title {
        left: 0;
        position: absolute;
        margin-top: 16px;
        margin-left: 0;
        padding: 0;
        padding-left: $golden-ratio-3;
        padding-right: $golden-ratio-1;

        @include respond(xs, sm) {
          width: auto;
          margin-right: 0;
          margin-bottom: $golden-ratio-1;
          position: absolute;
          background-color: $white;
          margin-left: $golden-ratio-2;
          padding-right: $golden-ratio-2;
          padding-left: $golden-ratio-2;
        }

        &--thumb {
          width: $golden-ratio-3;
          height: $golden-ratio-3;
          margin-right: $golden-ratio-0;
          margin-top: 2px;
        }

        &--label {
          h3 {
            font-size: $type-2;
            margin-bottom: 0;
          }

          &--sub {
            font-size: $type-0;
          }
        }
      }

      &--details {
        &--week {
          border-radius: 0 !important;
          border-left: none !important;
          border-right: none !important;

          .utk-space--hours {
            margin-left: 200px;
          }
        }
      }
    }
  }

  .utk-hours-location--details--week {
    font-size: $type-1;
    line-height: 1.47em;
    border: 2px solid $gray-1;
    border-radius: $golden-ratio-0;

    &--primary {
      background-color: $gray-0;
    }

    &--daysofweek {
      .utk-hours--week--dayofweek {
        text-transform: uppercase;
        font-weight: 700;
        font-size: $type-0;
        color: $smokey;

        span {
          text-transform: none;
          font-weight: 400;
          font-size: $type-1;
        }
      }
    }

    > div {
      display: flex;
      border-bottom: 2px solid $gray-1;

      &:last-child {
        border-bottom: none;
      }

      > div:first-child {
        width: 160px !important;
        flex-shrink: 0;
        flex-grow: 0;
        color: $smokey;
        padding: $golden-ratio-1 $golden-ratio-1;

        @include respond(xs, sm) {
          width: 200px !important;
          padding-left: $golden-ratio-3;
          position: absolute;
        }

        @include respond(xs) {
          padding-left: $golden-ratio-2;
        }

        h4 {
          font-size: $type-1;
          letter-spacing: -0.029em;
          text-transform: none;
          margin-bottom: 2px;
        }
      }

      > div:last-child {
        width: auto;
        flex-grow: 1;
        display: flex;
      }

      .utk-hours--week {
        width: 100%;

        &--hours,
        &--dayofweek {
          flex-basis: calc(100% / 7);
          flex-shrink: 0;
          flex-grow: 0;
          padding: $golden-ratio-1 $golden-ratio-1;
          overflow-x: hidden;
          overflow-y: hidden;
          margin-bottom: -2px;

          &.active {
            background-color: $globe;
            color: $white !important;
            border-bottom: 2px solid darken($globe, 3);
          }
        }
      }
    }

    > div:first-child .utk-hours--week {
      &--hours,
      &--dayofweek {
        &.active {
          margin-top: -6px;
          padding-top: 19px;
          border-top-left-radius: $golden-ratio-0;
          border-top-right-radius: $golden-ratio-0;
        }
      }
    }

    > div:last-child .utk-hours--week {
      &--hours,
      &--dayofweek {
        &.active {
          margin-bottom: -6px;
          border-bottom-left-radius: $golden-ratio-0;
          border-bottom-right-radius: $golden-ratio-0;
        }
      }
    }
  }
}
