.utk-hours-by-location-block {
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $golden-ratio-4;
  }

  section {
    .utk-hours-location {
      display: flex;
      margin-bottom: $golden-ratio-4;

      &:last-child {
        margin-bottom: 0;
      }

      &--title {
        display: flex;
        width: 250px;
        flex-shrink: 0;
        flex-grow: 0;
        margin-right: $golden-ratio-4;

        &--thumb {
          display: flex;
          width: $golden-ratio-5;
          height: $golden-ratio-5;
          border-radius: $golden-ratio-5;
          margin-right: $golden-ratio-2;
          overflow: hidden;
          box-shadow: $box-shadow;
          background-color: $gray-0;
          flex-shrink: 0;
          flex-grow: 0;
        }

        h3 {
          margin: 0 0 $golden-ratio-0;
          font-weight: 700;
          letter-spacing: -0.018em;
          line-height: 1.29em;
        }

        &--label {
          &--sub {
            font-size: $type-2;
            color: $smokey;
            display: block;
            -webkit-font-smoothing: antialiased;
            margin-bottom: $golden-ratio-0;
            line-height: 1.29em;
          }

          .utk-space--hours {
            font-size: $type-3;
            font-weight: 700;
          }
        }
      }

      &--details {
        flex-grow: 1;

        h4 {
          margin: 0 0 $golden-ratio-0;
          font-size: $type-0;
          text-transform: uppercase;
          letter-spacing: 0.029em;
        }

        &--about {
          border: 2px solid $gray-0;
          background-color: transparent;
          padding: calc(#{$golden-ratio-3 - 2px});
          border-radius: $golden-ratio-0;

          > p {
            font-size: $type-2;
            margin: 0;
          }

          &--spaces {
            margin-top: $golden-ratio-3;

            &--list {
              display: flex;
              flex-wrap: wrap;

              &--image {
                width: $golden-ratio-6;
                height: $golden-ratio-5;
                background-color: $gray-0;
                overflow: hidden;
                margin-right: $golden-ratio-1;
              }
            }
          }
        }

        &--more {
          background-color: $gray-0;
          padding: $golden-ratio-3;
          border-radius: $golden-ratio-0;
          margin-top: $golden-ratio-2;

          h4 {
            text-align: center;
            text-transform: none;
            letter-spacing: -0.029em;
            font-size: $type-2;
            font-weight: 400;
            -webkit-font-smoothing: antialiased;
            margin: 0 0 $golden-ratio-1;
          }

          &--list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            &--item {
              margin-right: $golden-ratio-3;
              margin-top: $golden-ratio-1;

              &:last-child {
                margin-right: 0;
              }

              h5 {
                font-size: $type-2;
                margin: 0;
              }

              &--sub {
                font-size: $type-2;
                color: $smokey;
                display: block;
                -webkit-font-smoothing: antialiased;
                margin-bottom: 0;
              }

              .utk-space--hours {
                font-size: $type-2;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
