.wp-block-cover {
  margin-bottom: $golden-ratio-2;
  margin-top: $golden-ratio-3;
  background-color: $smokeyx;
  color: $white;

  &.has-smokey-background-color {
    background-color: $smokey;
  }

  &.has-orange-background-color {
    background-color: $orange;
  }

  &.has-globe-background-color {
    background-color: $globe;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  li {
    color: $white !important;
  }
}
