.facetwp-facet {
  margin-bottom: $golden-ratio-3 !important;
}

.facetwp-type-checkboxes .facetwp-checkbox {
  position: relative;
  background-image: none !important; /* overrides FacetWP styling in favor of custom ::before */
  font-size: $type-2;
  line-height: 1.35em;
  margin-bottom: $golden-ratio-1 !important;
  padding-right: $golden-ratio-2;
  padding-left: $type-4;

  &::before {
    position: absolute;
    width: $type-1;
    height: $type-1;
    content: ' ';
    left: 0;
    top: 2px;
    border: 1px solid $gray-2;
    background-color: $gray-0;
  }

  &.checked {
    font-weight: 700;

    &::before {
      border: 1px solid $orange;
      background-color: $orange;
    }

    &::after {
      position: absolute;
      width: $type-1;
      height: $type-1;
      color: $white;
      left: 2px;
      top: 1px;
      content: "\e806"; /* begin custom fontello based "X" */
      font-family: fontello, monospace;
      font-style: normal;
      font-weight: 400;
      font-size: $type-1;
      line-height: 1em;
      text-align: center;
    }
  }

  .facetwp-counter {
    display: none !important; /* hiding default FacetWP post count */
  }
}

.facetwp-type-fselect {
  font-size: $type-2;

  .fs-wrap {
    width: auto !important;
    max-width: 100%;
    min-width: $golden-ratio-7;

    .fs-label-wrap {
      border: 1px solid $gray-1;
      background-color: $gray-0;
      cursor: pointer;

      .fs-label {
        padding: $golden-ratio-0 $golden-ratio-3 $golden-ratio-0 $golden-ratio-1;
      }

      .fs-arrow {
        right: 11px;
      }
    }

    .fs-search {
      input {
        font-size: $type-2;
        font-family: $sans;

        &::placeholder {
          color: $rock;
        }
      }
    }
  }
}

.facetwp-type-search {
  .facetwp-search-wrap {
    input.facetwp-search {
      width: auto !important;
      max-width: 100%;
      min-width: $golden-ratio-7;
      font-size: $type-2;
      font-family: $sans;
      padding: 5px $golden-ratio-3 4px $golden-ratio-1;
      border: 1px solid $gray-1;
      background-color: $gray-0;

      &::placeholder {
        color: $rock;
      }
    }
  }
}
