.facetwp-checkbox {
  position: relative;
  background-image: none !important; /* overrides FacetWP styling in favor of custom ::before */
  font-size: $type-2;
  line-height: 1.35em;
  margin-bottom: $golden-ratio-1 !important;
  padding-right: $golden-ratio-2;
  padding-left: $type-4;

  &::before {
    position: absolute;
    width: $type-1;
    height: $type-1;
    content: ' ';
    left: 0;
    top: 2px;
    border: 2px solid $gray-2;
    background-color: $white;
    border-radius: 2px;
  }

  &.checked {
    font-weight: 700;

    &::before {
      border: 2px solid $orange;
      background-color: $orange;
    }

    &::after {
      position: absolute;
      width: $type-1;
      height: $type-1;
      color: $white;
      left: 2px;
      top: 1px;
      content: "\e806"; /* begin custom fontello based "X" */
      font-family: fontello, monospace;
      font-style: normal;
      font-weight: 400;
      font-size: $type-1;
      line-height: 1em;
      text-align: center;
    }
  }

  .facetwp-counter {
    display: none !important; /* hiding default FacetWP post count */
  }
}
