.page-body--content--breadcrumb {
  padding: $golden-ratio-1 0;
  font-size: $type-1;
  background-color: $white;
  margin-bottom: $golden-ratio-3;
  box-shadow: $box-shadow;

  @include muted-body-link();

  @include respond(xs, sm) {
    display: none;
  }

  .current-menu-item {
    font-weight: 700;
    color: $smokey;
  }

  span.icon-angle-right {
    color: $rock;
  }
}
