.page-body--content--breadcrumb {
  padding: $golden-ratio-1 0;
  background-color: $gray-0;
  font-size: 13px;
  margin-bottom: $golden-ratio-3;

  @include standard-body-link();

  @include respond(xs, sm) {
    display: none;
  }

  .current-menu-item {
    font-weight: 700;
    color: $smokey;
  }

  span.icon-angle-right {
    color: $rock;
  }
}
