.utk-callout {
  min-height: $golden-ratio-7;

  /*
   * styling
   */
  &--style {
    &-default {
      background-color: $gray-0;
    }

    &-smokey {
      background-color: $smokey;
    }

    &-globe {
      background-color: $globe;
    }

    &-smokey,
    &-globe {
      h3,
      p {
        color: $white;
      }
    }
  }

  .utk-callout--inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;

    @include respond(xs, sm) {
      flex-direction: column-reverse !important;
    }

    .utk-callout--content {
      padding: $golden-ratio-4;
      align-self: flex-end;

      @include respond(sm) {
        padding: $golden-ratio-2 $golden-ratio-4 $golden-ratio-4;
      }

      @include respond(xs) {
        padding: $golden-ratio-2 $golden-ratio-3 $golden-ratio-4;
      }

      &::before {
        display: block;
        width: 100%;
        height: $golden-ratio-0;
        background-color: $orange;
        content: " ";
        max-width: $golden-ratio-6;
        margin: 0 0 $golden-ratio-3;
      }

      h3 {
        font-weight: 700;
        font-size: $type-4;
        line-height: 1.18em;
      }
    }

    > figure {
      margin: 0;
      min-width: 61.8%;
      max-width: 100%;
      align-self: flex-end;
      clip-path: polygon(0 0, 100% 0, 100% 100%, $golden-ratio-4 100%);

      @include respond(xs, sm) {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - #{$golden-ratio-4})) !important;
      }

      img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }

    &.utk-callout--orientation-left {
      flex-direction: row-reverse;

      figure {
        clip-path: polygon(0 0, calc(100% - #{$golden-ratio-4}) 0, 100% 100%, 0 100%);
      }
    }

    &.utk-callout--orientation-right {
      flex-direction: row;

      figure {
        clip-path: polygon(0 0, 100% 0, 100% 100%, $golden-ratio-4 100%);
      }
    }
  }
}

.section-callout {
  .utk-callout {
    width: 100%;
    position: relative;
    display: block;
  }
}
