.utk-callout {
  background-color: $gray-0;
  min-height: $golden-ratio-7;

  .utk-callout--inner {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;

    &.utk-callout--orientation-left {
      flex-direction: row-reverse;
    }

    &.utk-callout--orientation-right {
      flex-direction: row;
    }

    .utk-callout--content {
      padding: $golden-ratio-4;
      align-self: flex-end;

      h3 {
        font-weight: 700;
        font-size: $type-4;
        line-height: 1.18em;
        padding-right: $golden-ratio-3;
      }

      &--paragraphs {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    > figure {
      margin: 0;
      min-width: 61.8%;
      max-width: 100%;
      align-self: flex-end;

      img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
      }
    }
  }

  .section--content {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
  }

  .section--background-video {
    background: $smokeyx;
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    z-index: 1;
    padding-bottom: 56.25%; /* 16:9 */
    margin-top: -10%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}

.section-callout {
  .utk-callout {
    width: 100%;
    position: relative;
    display: block;
  }
}
