.utk-libchat {
  button {
    height: $golden-ratio-4 !important;
    line-height: $golden-ratio-4 !important;
    border-radius: $golden-ratio-4 !important;
    font-size: $type-2 !important;
    font-weight: 700 !important;
    font-family: $sans !important;
    box-shadow: $box-shadow-float;
    background-color: $white !important;
    color: $smokeyx !important;
    padding: 0 calc(#{$golden-ratio-2 - 1px + $golden-ratio-4}) 0 $golden-ratio-2 !important;
    position: relative !important;

    &::after {
      content: "\E808";
      font-family: fontello, monospace;
      color: $white !important;
      font-style: normal;
      font-size: $type-3;
      speak: none;
      font-weight: 400;
      display: block;
      position: absolute;
      right: -1px;
      top: -1px;
      height: $golden-ratio-4 !important;
      width: $golden-ratio-4 !important;
      background-color: $rock;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%) !important;
      border-top-right-radius: $golden-ratio-4 !important;
      border-bottom-right-radius: $golden-ratio-4 !important;
      -webkit-font-smoothing: antialiased;
    }

    &.libchat_online::after {
      background-color: $switchgrass !important;
    }

    &.libchat_offline::after {
      background-color: $rock !important;
    }
  }
}
