.page-body--content-formal .page-body--aside--facets {
  display: flex;
  flex-direction: column;
  margin-bottom: $golden-ratio-4 !important;
  transition: $transition-all;
  position: relative;

  @include respond(xs, sm) {
    display: flex !important;
  }

  @include respond(xs) {
    height: auto !important;
    padding: 0;
    box-shadow: none;
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    background-color: transparent;
  }
}

.utk-facets--tray {
  display: flex;
  justify-content: space-between;
  margin-bottom: $golden-ratio-3;

  @include respond(xs) {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.utk-facets--label {
  font-size: $type-2;
  font-weight: 400;
  color: $smokey;
  display: flex;
  flex-wrap: wrap;
  line-height: $type-4;
  align-items: center;
  height: $golden-ratio-4;

  > a {
    text-decoration: underline !important;
    font-size: $type-1;
    font-weight: 700;
  }

  @include respond(xs) {
    display: none;
  }

  em {
    margin-right: $golden-ratio-0;
    font-style: normal;
    display: inline-flex;
    height: $type-4;
  }

  .utk-facets--label-data {
    margin-right: 0.4em;
    height: $type-4;

    > a {
      display: inline-flex;
      font-size: $type-1;
      font-weight: 700;
      color: $smokeyx !important;
      align-items: center;
      justify-content: flex-start;
      height: $type-4;
      position: relative;
      padding-left: $golden-ratio-2;

      &::before {
        content: "\E801";
        font-family: fontello, monospace;
        speak: none;
        width: $type-2;
        height: $type-2;
        text-align: center;
        line-height: 11px;
        background-color: $rock;
        font-size: $type-0;
        color: $white;
        border-radius: $type-2;
        font-weight: 400 !important;
        margin-right: 3px;
        box-shadow: $box-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 4px;
      }

      &:hover,
      &:focus {
        color: $globe;

        &::before {
          background-color: $torch !important;
        }
      }
    }

    &.utk-facets--label-meta > a {
      text-transform: capitalize;
    }
  }
}

.utk-facets--filter {
  display: flex;

  @include respond(xs) {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .utk-facets--reset {
      margin-left: 0;
    }
  }
}

.utk-facets--button {
  height: $golden-ratio-4;
  box-shadow: $box-shadow;
  border: none;
  background: none;
  background-color: $white;
  color: $smokeyx;
  font-family: $sans;
  cursor: pointer;
  font-size: $type-2;
  font-weight: 700;
  padding: 0 64px 0 $golden-ratio-2 !important;
  border-radius: $golden-ratio-4;
  display: flex;
  align-items: center;
  margin-left: $golden-ratio-2;
  position: relative;
  margin-bottom: $golden-ratio-2;

  &:first-child {
    margin-left: 0;
  }

  &::after {
    content: "\E816";
    font-family: fontello, monospace;
    color: $white !important;
    background-color: $rock;
    font-style: normal;
    font-size: $type-3;
    speak: none;
    font-weight: 400;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: $golden-ratio-4 !important;
    line-height: $golden-ratio-4 !important;
    width: $golden-ratio-4 !important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%) !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%) !important;
    border-top-right-radius: $golden-ratio-4 !important;
    border-bottom-right-radius: $golden-ratio-4 !important;
    -webkit-font-smoothing: antialiased;
  }

  &.utk-facets--close {
    padding: 0 !important;
    width: $golden-ratio-4;

    &::after {
      content: "\E801";
      background-color: $torch;
      clip-path: unset !important;
      border-radius: $golden-ratio-4 !important;
    }
  }

  &.utk-facets--toggle::after {
    content: "\E816";
    background-color: $orange;
  }

  &.utk-facets--reset::after {
    content: "\E817";
    background-color: $rock;
  }
}

.utk-facets--modal {
  transition: $transition-all;
  transform-origin: center;
  display: flex;

  .page-body--aside--facets--item {
    margin-right: $golden-ratio-3;

    @include respond(xs) {
      margin-right: 0;

      h4 {
        text-align: center;
      }
    }

    &:last-of-type {
      flex-grow: 1;
      margin-right: 0;
    }
  }

  .utk-facets--close {
    transition: $transition-all-fast;
    transform: scale3d(0, 0, 0);
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: -$golden-ratio-3;
    margin-left: -23.5px;
  }

  &-active {
    opacity: 1;
  }

  @include respond(xs) {
    background-color: $gray-0;
    position: fixed;
    z-index: 100000;
    transform: scale3d(0, 0, 0) translate(0, 0);
    transform-origin: center;
    box-shadow: $box-shadow-float-submenu;
    padding: $golden-ratio-3;
    width: $gr-long;
    max-width: 100%;
    min-width: $golden-ratio-8;
    top: 50%;
    left: 50%;
    opacity: 0;
    flex-direction: column;

    &-active {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(-50%, -50%);
    }
  }

  .facetwp-facet {
    &.facetwp-type-dropdown {
      .facetwp-dropdown {
        cursor: pointer;
        font-family: $sans;
        font-size: $type-3;
      }
    }

    &.facetwp-type-fselect {
      .fs-wrap {
        @include respond(xs) {
          display: flex;
          position: relative;
        }

        .fs-label-wrap {
          height: $golden-ratio-4;
          border-radius: 29px;
          box-shadow: none;
          background-color: $white;
          transition: $transition-all-fast;

          @include respond(xs) {
            width: 100%;
          }

          .fs-label {
            font-size: $type-2;
            padding: 0 $golden-ratio-3 0 $golden-ratio-2;
            height: $golden-ratio-4;
            display: flex;
            align-items: center;

            .facetwp-counter {
              margin-left: $golden-ratio-0;
            }
          }
        }

        .fs-dropdown {
          border-radius: $golden-ratio-0;
          border: none;
          box-shadow: $box-shadow-float;

          @include respond(xs) {
            margin-top: 52px;
            right: 0;
          }

          .fs-search {
            padding: 0 $golden-ratio-1;

            > input {
              height: $type-6;
              font-size: $type-1;
              padding: 0;
            }
          }

          .fs-options {
            .fs-option {
              height: $golden-ratio-3;
              padding: $golden-ratio-0 $golden-ratio-1;
              font-size: $type-1;
              line-height: 16px;

              &.selected {
                font-weight: 700;
              }
            }
          }
        }

        &.fs-open {
          .fs-label-wrap {
            box-shadow: inset $box-shadow;
          }

          .fs-dropdown {
            animation: post-loading-slideY 470ms ease-in-out 0s 1;
            transform-origin: top;
          }
        }
      }
    }

    &.facetwp-type-search {
      width: 100%;

      .facetwp-search-wrap {
        display: flex;

        .facetwp-btn {
          right: auto;
          opacity: 1;
          left: 0;
          top: 0;
          width: $golden-ratio-4;
          height: $golden-ratio-4;
          display: flex;
          justify-content: center;
          align-items: center;

          &::before {
            background: none;
            content: "\E800";
            font-family: fontello, monospace;
            font-style: normal;
            font-weight: 400;
            speak: none;
            display: inline-block;
            text-decoration: inherit;
            width: 1em;
            margin-right: 0.2em;
            text-align: center;
            font-variant: normal;
            text-transform: none;
            line-height: 1em;
            margin-left: 0.2em;
            color: $rock;
          }
        }

        .facetwp-search {
          flex-grow: 1;
          background-color: $white;
          padding: 0 $golden-ratio-2 0 $golden-ratio-4;
          height: $golden-ratio-4;
          border-radius: $golden-ratio-3;
          font-size: $type-2;
          color: $smokeyx;
        }
      }
    }
  }
}
