.page-body--formal-header {
  &.page-body--formal-header-2589 {
    > .page-body--content--title > .utk-heading-1 {
      color: $smokey;
    }
  }
}

.utk-formal--header--background {
  position: absolute;
  z-index: 0;
  margin-top: -$golden-ratio-3;
  overflow: hidden;
  height: 335px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 29px), 0 100%);
  width: 100%;
  background-color: $smokeyx;

  img {
    max-width: 100%;
    width: 100%;
    opacity: 0.11;
    object-fit: cover;
    object-position: center;
    margin-top: -29%;
    filter: blur(6px) contrast(1.18) saturate(1.29);
  }
}
