.page-body--content-formal .page-body--aside--facets {
  display: flex;
  flex-direction: column;
  margin-bottom: $golden-ratio-4 !important;
  transition: $transition-all;
  position: relative;
  height: 47px;

  @include respond(xs, sm) {
    display: flex !important;
  }

  @include respond(xs) {
    height: auto !important;
    padding: 0;
    box-shadow: none;
    width: auto;
    margin: 0 auto;
    border-radius: 0;
    background-color: transparent;
  }
}

.utk-facets--label {
  font-size: $type-1;
  font-weight: 400;
  color: $smokey;
  display: flex;
  flex-wrap: wrap;
  line-height: $type-4;
  align-items: center;

  @include respond(xs) {
    display: none;
  }

  em {
    margin-right: $golden-ratio-0;
    font-style: normal;
    display: inline-flex;
    height: $type-4;
  }

  .utk-facets--label-data {
    margin-right: $golden-ratio-0;
    height: $type-4;

    > a {
      display: inline-flex;
      font-size: $type-1;
      font-weight: 700;
      color: $smokeyx !important;
      align-items: center;
      justify-content: flex-start;
      height: $type-4;
      position: relative;
      padding-left: $golden-ratio-2;

      &::before {
        content: "\E801";
        font-family: fontello, monospace;
        speak: none;
        width: $type-2;
        height: $type-2;
        text-align: center;
        line-height: 11px;
        background-color: $rock;
        font-size: $type-0;
        color: $white;
        border-radius: $type-2;
        font-weight: 400 !important;
        margin-right: 3px;
        box-shadow: $box-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 4px;
      }

      &:hover,
      &:focus {
        color: $globe;

        &::before {
          background-color: $torch !important;
        }
      }
    }

    &.utk-facets--label-meta > a {
      text-transform: capitalize;
    }
  }
}

.utk-facets--tray {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.utk-facets--filter {
  display: flex;

  .utk-facets--close {
    transition: $transition-all-fast;
    transform: scale3d(0, 0, 0);
  }

  @include respond(xs) {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .utk-facets--close {
      display: none;
    }

    .utk-facets--reset {
      margin-left: 0;
    }
  }
}

.utk-facets--button {
  height: $golden-ratio-4;
  box-shadow: $box-shadow;
  border: none;
  background: none;
  background-color: $white;
  color: $smokeyx;
  font-family: $sans;
  cursor: pointer;
  font-size: $type-2;
  font-weight: 700;
  padding: 0 64px 0 $golden-ratio-2 !important;
  border-radius: $golden-ratio-4;
  display: flex;
  align-items: center;
  margin-left: $golden-ratio-2;
  position: relative;
  margin-bottom: $golden-ratio-2;

  &:first-child {
    margin-left: 0;
  }

  &::after {
    content: "\E816";
    font-family: fontello, monospace;
    color: $white !important;
    background-color: $rock;
    font-style: normal;
    font-size: $type-3;
    speak: none;
    font-weight: 400;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: $golden-ratio-4 !important;
    line-height: $golden-ratio-4 !important;
    width: $golden-ratio-4 !important;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%) !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%) !important;
    border-top-right-radius: $golden-ratio-4 !important;
    border-bottom-right-radius: $golden-ratio-4 !important;
    -webkit-font-smoothing: antialiased;
  }

  &.utk-facets--close {
    padding: 0 !important;
    width: $golden-ratio-4;

    &::after {
      content: "\E801";
      background-color: $torch;
      clip-path: unset !important;
      border-radius: $golden-ratio-4 !important;
    }
  }

  &.utk-facets--toggle::after {
    content: "\E816";
    background-color: $orange;
  }

  &.utk-facets--reset::after {
    content: "\E817";
    background-color: $rock;
  }
}

.utk-facets--modal {
  background-color: transparent;
  transition: $transition-all;
  transform-origin: center;
  display: block;
  position: absolute;
  top: 65px;
  opacity: 0;

  .utk-facets--close {
    display: none;
  }

  &-active {
    opacity: 1;
  }

  @include respond(xs) {
    background-color: $white;
    position: fixed;
    z-index: 100000;
    transform: scale3d(0, 0, 0) translate(0, 0);
    transform-origin: center;
    box-shadow: $box-shadow-float-submenu;
    padding: $golden-ratio-3;
    max-width: $gr-long;
    top: 50%;
    left: 50%;
    opacity: 0;

    .utk-facets--close {
      display: block;
    }

    &-active {
      opacity: 1;
      transform: scale3d(1, 1, 1) translate(-50%, -50%);
    }
  }

  .facetwp-facet {
    &.facetwp-type-dropdown {
      .facetwp-dropdown {
        cursor: pointer;
        font-family: $sans;
        font-size: $type-3;
      }
    }

    &.facetwp-type-search {
      .facetwp-search {
        background-color: $white;
      }
    }
  }
}
