.article--populate--inner {
  &--label {
    display: inline-block;
    width: auto;
    padding: 0 $golden-ratio-1;
    line-height: $golden-ratio-3;
    height: $golden-ratio-3;
    font-size: $type-0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: $smokey;
    color: $white;
    position: absolute;
    right: $golden-ratio-2;
    top: 0;
  }
}

article .article--populate--inner--label {
  top: $golden-ratio-2;
}
