.utk-gcs {
  &--bar {
    display: flex;
    border-radius: 47px;
    overflow: hidden;
    margin-left: -18px;
    margin-right: -18px;
    border: 1px solid $gray-1;
    transition: $transition-all;
    position: relative;
    align-items: center;

    &:focus-within {
      border-color: $white;
      box-shadow: $box-shadow-float;
    }
  }

  &--search {
    height: $golden-ratio-4;
    flex-grow: 1;
    flex-shrink: 0;
    color: $smokeyx;
    background-color: transparent;
    padding: $golden-ratio-1 $golden-ratio-2;
    font-size: $type-2;
    font-weight: 400;
    font-family: $sans;
    outline: none;
    border: none;

    &::placeholder {
      color: $rock;
    }
  }

  &--submit {
    height: 35px;
    flex-grow: 0;
    flex-shrink: 1;
    border: none;
    background-color: transparent;
    color: $globe;
    font-weight: 700;
    font-size: $type-1;
    font-family: $sans;
    cursor: pointer;
    border-radius: 47px;
    padding: 0 $golden-ratio-2;
    margin-right: $golden-ratio-0;
  }

  &--buttons {
    margin: $golden-ratio-3;
    display: flex;
    justify-content: center;

    > input {
      margin: 0 14.5px;
    }

    .utk-gcs--submit {
      height: 35px;
      flex-grow: 0;
      flex-shrink: 1;
      background-color: $gray-0;
      color: $smokey;
      font-weight: 400;
      font-size: $type-1;
      font-family: $sans;
      cursor: pointer;
      border-radius: 6px;
      padding: 0 $golden-ratio-2;
      margin-right: $golden-ratio-0;
      border: 1px solid $gray-0;
      transition: $transition-all-fast;
      box-shadow: none;

      &:hover,
      &:focus {
        color: $smokeyx;
        border: 1px solid $gray-1;
        box-shadow: $box-shadow;

        @include filter-gradient($white, 0, $gray-0, 100%);
      }
    }
  }
}

.gsc-control-cse {
  padding: $golden-ratio-2 0 !important;
  font-family: $sans !important;
}

.gsc-tabsArea {
  border-bottom: 2px solid $gray-1 !important;
  margin: $golden-ratio-0 0 0 !important;
}

.gsc-above-wrapper-area {
  border-bottom: none !important;
  padding: $golden-ratio-0 0 !important;
}

.gsc-tabHeader {
  padding: 0 $golden-ratio-2 2px !important;
  font-size: $type-2 !important;
  font-family: $sans !important;
  margin-bottom: -2px !important;
}

.gsc-result-info {
  font-family: $sans !important;
  font-size: $type-1 !important;
  color: $smokey !important;
  padding: 0 !important;
}

.gsc-results {
  font-family: $sans !important;
  margin-top: $golden-ratio-2;

  .gsc-result {
    font-family: $sans !important;
    margin-bottom: $golden-ratio-3 !important;
    padding: 0 !important;
  }

  .gs-result {
    font-family: $sans !important;
    padding: 0 !important;

    > div {
      padding: 0 !important;
      font-family: $sans !important;
    }

    .gs-title {
      font-size: $type-2 !important;
    }

    .gsc-url-top {
      font-size: $type-1 !important;
      padding: 0 !important;
    }

    .gs-snippet {
      font-family: $sans !important;
      font-size: $type-1 !important;
      line-height: 1.6em;
    }
  }
}

.gsc-cursor-box {
  margin-top: $golden-ratio-3 !important;
}

.gsc-cursor-page {
  font-size: $type-2;
}

.gcsc-find-more-on-google-magnifier {
  fill: $globe !important;

  path {
    fill: $globe !important;
  }
}
