h1 {
  font-size: $type-5;
  font-weight: 400;
  line-height: 1.29em;
  margin-top: 0 !important;
}

h2 {
  font-size: $type-4;
}

h3 {
  font-size: $type-4;
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
  font-size: $type-3;
}

h5 {
  font-size: $type-3;
}

h6 {
  text-transform: uppercase;
  font-size: $type-3;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $smokey;
  font-family: $sans;
  margin: 1em 0 0.382em;
  line-height: 1.47em;
}

.utk-heading-1 {
  @extend h1;

  color: $smokey;
  font-family: $sans;
  margin: 0 0 0.618em;
  display: block;
}
