.page-body--content--horizontal-menu {
  background-color: $smokeyx;
  margin-bottom: $golden-ratio-3;

  ul.menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: $golden-ratio-4;

    @include respond(xs) {
      overflow-x: scroll;
      overflow-y: hidden;
      margin-left: -$golden-ratio-2;
      padding: 0 $golden-ratio-2;
      width: calc(100% + #{$golden-ratio-2 * 2});
      position: relative;
    }

    li {
      margin: 0 $golden-ratio-2 0 0;
      padding: 0;
      font-size: $type-1;
      display: flex;
      align-items: center;
      white-space: nowrap;

      &:last-child {
        margin-right: 0;

        @include respond(xs) {
          margin-right: $golden-ratio-2;
        }
      }

      a,
      a:visited {
        color: $white;
      }

      a:hover,
      a:focus {
        color: $white;
      }

      &.active {
        position: relative;

        &::after {
          width: 12px;
          height: 12px;
          display: block;
          position: absolute;
          right: 50%;
          bottom: 0;
          margin-right: -12px;
          content: " ";
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 8px solid $white;

          @include respond(xs) {
            border-bottom: 8px solid $rock;
          }
        }

        > a {
          font-weight: 700;
          color: $white !important;
        }
      }
    }
  }
}
