.utk-hours {
  &--today {
    background-color: transparent;
    color: $smokeyx;
    display: flex;
    flex-direction: column;
    margin-bottom: $golden-ratio-3;
    text-align: center;

    &--label {
      display: block;
      text-transform: uppercase;
      font-size: $type-1;
      font-weight: 700;
      color: $smokey;
    }

    &--range {
      color: $smokeyx !important;
      display: block;
      font-size: $type-4;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
