.page-body--content--body img {
  max-width: 100% !important;
  height: auto !important;
}

img[data-lazy-src] {
  opacity: 0;
  transition: $transition-all-load;
}

img.lazyloaded {
  opacity: 1;
}

.utk-lazyload {
  display: block;
  position: relative;
  z-index: 0;

  &--preload {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: 50% 50%;
    left: 0;
    top: 0;
    z-index: 0;
  }

  &--render {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
}

.wp-block-image {
  figure.alignleft {
    margin: $golden-ratio-0 $golden-ratio-3 $golden-ratio-1 0;
  }

  figure.alignright {
    margin: $golden-ratio-0 0 $golden-ratio-1 $golden-ratio-3;
  }

  &.full {
    width: 100%;

    figure {
      width: inherit;

      img {
        width: inherit;
      }
    }
  }

  &.offset-full {
    margin-left: -$golden-ratio-5;
    width: calc(100% + #{$golden-ratio-5 * 2});

    @include respond(xs, sm) {
      margin-left: 0;
      width: 100%;
    }

    figure {
      width: inherit;

      img {
        width: inherit;
      }
    }
  }

  &.offset-right {
    margin-bottom: 0;

    figure {
      position: relative;
      margin-right: -$golden-ratio-5;
      margin-left: $golden-ratio-4;
      margin-bottom: $golden-ratio-2;

      @include respond(xs, sm) {
        margin-right: 0;
        width: $gr-short;
        margin-left: $golden-ratio-3;
      }

      img {
        margin-top: -10px;
      }
    }
  }

  &.offset-left {
    margin-bottom: 0;

    figure {
      position: relative;
      margin-right: $golden-ratio-4;
      margin-left: -$golden-ratio-5;
      margin-bottom: $golden-ratio-2;

      @include respond(xs, sm) {
        margin-left: 0;
        width: $gr-short;
        margin-right: $golden-ratio-3;
      }

      img {
        margin-top: -10px;
      }
    }
  }
}
