.utk-modal-overlay {
  background-color: $smokeyx;
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 290ms ease-in-out;
}

body.utk-modal-open {
  overflow: hidden;

  .utk-modal-overlay {
    opacity: 0.76;
    height: 100%;
  }
}
