.utk-modal-overlay {
  background-color: $smokeyx;
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 290ms ease-in-out;
}

@include respond(xs) {
  body.utk-modal-open {
    overflow: hidden;

    .page-body--aside--facets {
      height: auto;
    }

    .utk-modal-overlay {
      opacity: 0.76;
      height: 100%;
    }
  }
}

body.utk-modal-open {
  .utk-facets--filter {
    .utk-facets--close {
      transform: scale3d(1, 1, 1);

      @include respond(xs) {
        display: none;
      }
    }
  }
}
