.utk-modal-overlay {
  background-color: $smokey;
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 290ms ease-in-out;
}

@include respond(xs) {
  body.utk-modal-open-xs {
    overflow: hidden;

    .utk-facets--close {
      transform: scale3d(1, 1, 1);
    }

    .page-body--aside--facets {
      height: auto;
    }

    .utk-modal-overlay {
      opacity: 0.85;
      height: 100%;
    }
  }
}

body.utk-modal-open-xs {
  .utk-facets--close {
    transform: scale3d(1, 1, 1);
  }
}

.utk-modal-close {
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $torch;
  border-radius: $golden-ratio-4;
  width: $golden-ratio-4;
  height: $golden-ratio-4;
  color: $white;
  box-shadow: $box-shadow;
  transition: $transition-all-fast;
  position: absolute;
  opacity: 1;
  z-index: 1;
  right: 0;
  top: 0;
  margin-right: $golden-ratio-3;
  margin-top: -23.5px;
  border: none;
  cursor: pointer;
  transform: scale3d(1, 1, 1);

  &::before {
    content: "\E801";
    font-family: fontello, monospace;
    border-radius: $golden-ratio-4;
    font-style: normal;
    font-size: $type-3;
    speak: none;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: $golden-ratio-4 !important;
    width: $golden-ratio-4 !important;
    -webkit-font-smoothing: antialiased;
  }

  &:hover,
  &:focus {
    box-shadow: $box-shadow-float;
    transform: scale3d(1.06, 1.06, 1.06);
  }
}

.utk-modal-populate {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: -1;
  width: $gr-long;
  min-width: 942px;
  opacity: 0;
  transform: translate(-18%, -29%) rotateZ(-6deg);
  transition: transform 290ms 0s cubic-bezier(0, 1, 0.3, 1), opacity 180ms 0s ease-out;
  transform-origin: center;

  @include respond(sm) {
    width: calc(100% - #{$golden-ratio-3 * 2});
    min-width: calc(100% - #{$golden-ratio-3 * 2});
  }

  @include respond(xs) {
    width: 100%;
    min-width: 100%;
    height: calc(100% - 113px);
    max-height: calc(100% - 113px);
    transform: unset !important;
    top: unset;
    left: 0;
    bottom: 0;
  }

  .article--populate--inner {
    background: $white;
    opacity: 0;
    transition: $transition-all;
    padding: $golden-ratio-4;
    width: 100%;
    min-height: 470px;
    position: relative;
    box-shadow: $box-shadow-float-submenu;
    overflow: hidden;

    @include respond(xs) {
      height: 100%;
      max-height: 100%;
      border-radius: 0;
      box-shadow: none;
    }
  }

  &.loaded {
    z-index: 100000;
    opacity: 1;
    transform: rotateZ(0deg) translate(-50%, -50%);

    .article--populate--inner {
      opacity: 1;
    }
  }
}

body.utk-modal-open {
  overflow: hidden;

  .utk-modal-overlay {
    opacity: 0.47;
    height: 100%;
  }

  .utk-modal-populate {
    z-index: 100000;
  }
}

.utk-modal-meta {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: $golden-ratio-0;

  &--item {
    display: flex;
    flex-direction: column;
    margin-right: $golden-ratio-3;
    margin-bottom: $golden-ratio-1;

    &:last-child {
      margin-right: 0;
    }

    &--label {
      font-size: $type-0;
      text-transform: uppercase;
      line-height: 1.47em;
      margin-bottom: 2px;
      color: $smokey;
    }

    &--value {
      font-size: $type-1;
      font-weight: 700;
      line-height: 1.47em;
      color: $smokey;

      @include standard-body-link();
    }

    span[class*='icon-'] {
      color: $rock;
    }
  }

  &-list {
    flex-direction: column;

    .utk-modal-meta--item {
      flex-direction: row;
      margin-bottom: $golden-ratio-0;

      &--label {
        font-size: $type-1;
        font-weight: 700;
        text-transform: unset;
        width: 100px;
        min-width: 100px;

        svg {
          height: $type-1;
          fill: $rock;
          margin-right: $golden-ratio-0;
          margin-bottom: -1px;

          * {
            fill: $rock !important;
          }
        }
      }

      &--value {
        font-weight: 400;
      }
    }
  }
}

.utk-modal-separator {
  display: block;
  height: 2px;
  margin-bottom: $golden-ratio-2;

  &::before {
    display: block;
    content: '';
    margin-left: -$golden-ratio-3;
    position: relative;
    height: 2px;
    width: calc(100% + (#{$golden-ratio-3 * 2}));
    background-color: $gray-0;
  }
}
