.utk-new-featured {
  margin-bottom: $golden-ratio-4;
  background-color: $gray-0;
  box-shadow: inset $box-shadow;

  &--container {
    padding: $golden-ratio-4 0;
  }

  header {
    h3 {
      display: block;
      font-weight: 700;
      text-align: center;
      color: $smokey;
      margin: 0;
    }

    span {
      font-size: $type-2;
      line-height: 1.47em;
      width: $gr-long;
      display: flex;
      margin: $golden-ratio-2 auto 0;
      justify-content: center;
      text-align: center;
      color: $smokey;
    }

    margin-bottom: $golden-ratio-4;
  }

  main {
    display: flex;
    justify-content: space-between;

    @include respond(xs, sm) {
      flex-wrap: wrap;
    }
  }

  &--item {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - #{$golden-ratio-3 / 2});
    background-color: $white;
    box-shadow: $box-shadow;
    padding: $golden-ratio-3 $golden-ratio-3 calc(#{$golden-ratio-3 + $golden-ratio-3});
    border-top: $golden-ratio-0 solid $orange;
    position: relative;
    border-radius: $golden-ratio-0 !important;
    transition: $transition-all-fast;

    @include respond(sm) {
      flex: 0 0 calc(50% - #{$golden-ratio-3 / 2});
      margin-bottom: $golden-ratio-3;

      &:nth-child(3),
      &:nth-child(4) {
        margin-bottom: 0;
      }
    }

    @include respond(xs) {
      flex: 0 0 100%;
      margin-bottom: $golden-ratio-2;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .btn {
      position: absolute;
      bottom: 0;
      left: 0;
      border-color: $gray-1 !important;
      border-bottom: 0;
      border-right: 0;
      border-left: 0;
      width: 100%;
      text-align: center;
      justify-content: center;
      text-transform: uppercase;
      font-size: $type-0;
      margin: 0;
      transition: $transition-all-fast;

      .icon-right-big {
        font-size: 0.4rem;
        margin-left: 3px;
        color: $rock;
        transition: $transition-all-fast;
      }
    }

    &:hover,
    &:focus {
      box-shadow: $box-shadow-float;

      .btn {
        background-color: $gray-0 !important;

        .icon-right-big {
          margin-left: 6px;
          color: $orange;
        }
      }
    }

    &--label {
      display: flex;
      position: absolute;
      top: 0;
      font-size: $type-0;
      font-weight: 700;
      align-self: center;
      margin-top: calc(#{-$golden-ratio-3 / 2} - 3px);
      background-color: white;
      height: $golden-ratio-3;
      padding: 0 $golden-ratio-1;
      border-radius: $golden-ratio-0;
      box-shadow: $box-shadow;
      color: $smokey !important;
    }

    &--media {
      margin-bottom: $golden-ratio-2;
      height: $golden-ratio-4;
      display: flex;
      align-items: center;

      @include respond(xs) {
        height: unset;
      }

      img {
        max-height: $golden-ratio-4;
        max-width: 85%;
        display: flex;

        @include respond(xs, sm) {
          max-width: $gr-long;
        }
      }
    }

    &--content {
      h4 {
        text-transform: none;
        font-weight: 700;
        font-size: $type-2;
        line-height: 1.29em;
        margin: 0 0 $golden-ratio-1;
        color: $globe !important;
      }

      p {
        font-size: $type-1;
        margin: 0;
        color: $smokey !important;
      }
    }
  }
}
