.section-news {
  &--header {
    border-bottom: 1px solid $gray-1;
    padding-bottom: $golden-ratio-0;
    display: flex;
    flex-direction: row;
    align-content: space-between;

    &--title {
      font-size: $type-2;
      text-transform: uppercase;
      margin: 0;
      width: auto;
      font-weight: 700;
    }

    &--url {
      font-size: $type-1;
      margin-left: auto;
    }
  }

  @include respond(xs, sm, md) {
    margin-bottom: $golden-ratio-4;
  }
}

.news-wrap {
  &--list {
    margin: 0;
    padding: $golden-ratio-2 $golden-ratio-2 0 0;
    font-size: $type-2;

    &--item {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: $golden-ratio-1;

      @include standard-body-link();

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
