.library-notice {
  background-color: $white;
  color: $smokey;
  box-shadow: $box-shadow;
  border-left: $golden-ratio-2 solid $rock;
  border-radius: $golden-ratio-1;
  margin: -$golden-ratio-2 0 $golden-ratio-3;

  &--content {
    padding: $golden-ratio-2;
  }

  h3 {
    margin: 0 0 $golden-ratio-0;
    padding: 0;
    font-size: $type-3;
    font-weight: 700;
    color: inherit;
    line-height: 1.29em;
  }

  p {
    margin: 0;
    padding: 0;
    font-size: $type-2;
    color: inherit;

    a,
    a:visited {
      color: $globe;
      text-decoration: underline !important;
    }

    a:hover,
    a:focus {
      color: $leconte;
    }
  }

  &.library-notice-general {
    border-color: $orange;
  }

  &.library-notice-weather {
    border-color: $fountain;
  }

  &.library-notice-warning {
    border-color: $sunsphere;

    h3 {
      font-size: $type-4;
      font-weight: 700 !important;
    }

    p {
      font-size: $type-3;
    }
  }

  &.library-notice-danger {
    background-color: $white;
    color: $white;

    .library-notice--wrap {
      padding-left: 0;
    }

    .library-notice--content {
      padding: $golden-ratio-3 0;
    }

    h3 {
      font-size: $type-5;
      font-weight: 700 !important;
      text-transform: uppercase;
    }

    p {
      font-size: $type-3;
    }
  }
}

body.library-notice-override {
  .page-header-hero {
    height: $golden-ratio-8;
  }
}

.section-notice {
  background-color: $gray-0;
  padding: $golden-ratio-3 0 $golden-ratio-0;

  .library-notice {
    margin: 0;
  }
}
