.utk-onesearch {
  display: flex;
  flex-direction: column;
  margin-bottom: $golden-ratio-4;
  color: $smokeyx;

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 $golden-ratio-2;

    &--logo {
      display: block;
      height: $golden-ratio-2;

      img {
        height: inherit;
      }
    }

    &--links {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &--item {
        margin-left: $golden-ratio-2;
        font-size: $type-2;
      }
    }
  }

  &--box {
    display: flex;
    flex-direction: column;

    form {
      margin: 0;
      padding: 0;
    }

    &--search {
      width: 100%;
      height: $golden-ratio-4;
      border-radius: $golden-ratio-3;
      font-size: $type-2;
      font-weight: 400;
      background-color: $white;
      padding: 0 $golden-ratio-2;
      margin: 0 0 $golden-ratio-2;
      font-family: $sans;
      box-shadow: none;
      position: relative;
      border: 1px solid $gray-1;
      outline: none;

      &:hover,
      &:focus {
        border-color: $white;
        box-shadow: $box-shadow-focus;
      }
    }

    &--options {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: $type-2;
      color: $smokey;

      &--item {
        margin-left: $golden-ratio-2;
        font-size: $type-2;
        font-weight: 700;
      }
    }
  }
}
