.page-header--options {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
  margin-top: 0;
  top: 0;
  position: relative;
  z-index: 1050;
  transition: $transition-top;

  @include respond(xs, sm) {
    position: fixed;
    top: 113px !important;
    left: 0 !important;
    width: 100% !important;
    display: none;
    background-color: $smokey;

    .utk-libchat button {
      border-radius: 0 !important;
      width: 100% !important;
      text-align: left !important;
      font-size: $type-2 !important;
      padding-left: 58px !important;
      color: $smokey !important;

      @include respond(sm) {
        padding-left: 94px !important;
      }

      &.libchat_online::after,
      &.libchat_offline::after {
        clip: unset !important;
        clip-path: unset !important;
        text-align: center !important;
        border-radius: 0 !important;
        right: auto !important;
        left: 18px !important;
        width: 30px !important;
        background-color: $white !important;
        color: $rock !important;

        @include respond(sm) {
          left: 29px !important;
          width: 47px !important;
        }
      }

      &.libchat_online::after {
        color: $rock !important;
      }

      &.libchat_offline::after {
        color: $rock !important;
      }
    }
  }

  @include respond(sm) {
    top: 129px !important;
  }
}

body.header-scroll-down .page-header--options {
  top: 23.5px;
}

body.utk-search-open .page-header--options,
body.utk-skip-open .page-header--options {
  top: -500px;
}

body.subsite-menu-dropdown-expand .page-header--options {
  top: -500px;
}

.options--item {
  display: flex;
  height: $golden-ratio-4;
  box-shadow: $box-shadow-float;
  border-radius: $golden-ratio-4;
  margin-right: $golden-ratio-2;
  position: relative;
  line-height: $golden-ratio-4;
  text-decoration: none !important;
  transition: $transition-all;
  overflow: hidden;

  &--title {
    text-transform: none;
    text-decoration: inherit !important;
    margin: 0;
    padding: 0 $golden-ratio-2;
    font-size: $type-2;
    font-weight: 700;
    color: inherit;

    > em {
      font-weight: 400;
      font-style: normal;
    }
  }

  &--icon {
    right: 0;
    top: 0;
    width: $golden-ratio-4;
    height: $golden-ratio-4;
    background-color: $rock;
    text-align: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 6px 100%);

    > span {
      color: $white;
      display: block;
      line-height: $golden-ratio-4;
    }
  }

  &.options--item-contingency .options--item--icon {
    background-color: $orange;

    > span {
      margin-top: 0;
    }
  }

  &.options--item-help .options--item--icon {
    background-color: $orange;

    > span {
      margin-top: 0;
    }
  }

  &.options--item-give .options--item--icon {
    background-color: $orange;

    > span {
      margin-top: 0;
    }
  }

  &.options--item-chat .options--item--icon {
    background-color: $switchgrass;

    > span {
      margin-top: 0;
    }
  }
}

a.options--item,
a.options--item:visited {
  background-color: $white;
  color: $smokeyx;
}

a.options--item:hover,
a.options--item:focus {
  background-color: $white;
  color: $smokeyx;
}
