.page-header--options {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
  margin-top: 0;
  top: 0;
  position: relative;
  z-index: 1050;
  transition: $transition-top;

  @include respond(xs, sm) {
    position: fixed;
    top: auto !important;
    right: $golden-ratio-2 !important;
    bottom: $golden-ratio-2 !important;
    display: none;
  }

  @include respond(sm) {
    top: auto !important;
    right: $golden-ratio-3 !important;
    bottom: $golden-ratio-3 !important;
  }
}

body.header-scroll-down .page-header--options {
  top: 23.5px;
}

body.utk-search-open .page-header--options,
body.utk-skip-open .page-header--options {
  top: -500px;
}

body.subsite-menu-dropdown-expand .page-header--options {
  top: -500px;
}
