/*
 * overrides the wordpress override
 */

html {
  #utk-lib-header .utk-header {
    z-index: 99997;
  }
}

body.admin-bar {
  #utk-lib-header .utk-header {
    margin-top: 32px;
    z-index: 99997;

    @include respond(xs) {
      margin-top: 46px;
    }
  }

  &.header-scroll-down .page-header .page-header--float {
    top: 114px !important;

    @include respond(xs) {
      top: 112px !important;
    }
  }
}

#placeholder {
  display: none;
}
