.page-body--archive {
  background-color: inherit;

  /*
   * see components/_archive-facets.scss for component styling
   */

  .page-body--content {
    article {
      display: flex;
      flex-direction: row;
      margin-bottom: $golden-ratio-3;

      .article--context {
        header.article--header {
          h2.article--header--title {
            font-size: $type-4;
            margin-bottom: $golden-ratio-1;
            margin-top: 0;
          }

          .article--meta {
            font-size: $type-2;
            color: $smokey;
          }
        }
      }

      .article--body {
        &--summary {
          p {
            font-size: $type-2;
          }
        }
      }

      .article--thumbnail {
        margin-left: $golden-ratio-3;
        background-color: $gray-1;
        position: relative;
        width: $golden-ratio-7;
        height: $golden-ratio-7;
        min-width: $golden-ratio-7;
        min-height: $golden-ratio-7;
        overflow: hidden;

        &--pre {
          position: absolute;
          z-index: 0;
          display: block;
          width: $golden-ratio-7;
          height: $golden-ratio-7;
          min-width: $golden-ratio-7;
          min-height: $golden-ratio-7;
          overflow: hidden;
          background-size: cover;
          background-position: 50% 50%;
          filter: blur(3px);
        }

        img {
          position: relative;
          z-index: 1;
          width: $golden-ratio-7 !important;
          height: $golden-ratio-7 !important;
        }

        img.lazyloaded {
          opacity: 0.76;
          transition: $transition-all-fast;
        }

        img.lazyloaded[data-was-processed] {
          opacity: 1;
        }
      }
    }
  }

  .page-body--aside {
    &--facets {
      margin-bottom: $golden-ratio-3;

      @include respond(xs, sm) {
        display: none;
      }

      &--item {
        margin-bottom: $golden-ratio-2 !important;

        &:last-child {
          margin-bottom: 0 !important;
        }

        h4 {
          color: $smokey;
          font-size: $type-1;
          text-transform: uppercase;
          margin-bottom: $golden-ratio-0;
        }
      }
    }
  }
}
