.page-body--archive {
  background-color: inherit;

  /*
   * see components/_archive-facets.scss for component styling
   */

  .page-body--content {
    article {
      display: flex;
      flex-direction: row;
      margin-bottom: $golden-ratio-3;

      .article--context {
        header.article--header {
          h2.article--header--title {
            font-size: $type-4;
            margin-bottom: $golden-ratio-1;
          }

          .article--meta {
            font-size: $type-2;
            color: $smokey;
          }
        }
      }

      .article--thumbnail {
        margin-left: $golden-ratio-3;
        background-color: $gray-1;
        width: $golden-ratio-7;
        height: $golden-ratio-7;

        img {
          width: inherit;
          height: auto;
        }
      }
    }
  }
}
