.page-body-blog {
  .page-body--content--title {
    max-width: 740px;
    margin: 0 auto $golden-ratio-4;

    @include respond(xs) {
      max-width: 100%;
    }

    h1 {
      font-family: $serif;
      font-weight: 400;
      line-height: 1.29;
      font-size: $type-7;
      letter-spacing: -0.023em;
      text-align: center;
      -webkit-font-smoothing: antialiased;

      &::before {
        width: $golden-ratio-5;
        height: $golden-ratio-0;
        display: block;
        background-color: $orange;
        content: ' ';
        margin: 0 auto $golden-ratio-3;
      }

      @include respond(sm) {
        font-size: $type-6;
      }

      @include respond(xs) {
        font-size: $type-5;
      }
    }
  }

  .page-body-blog--author,
  .page-body-blog--meta {
    text-align: center;
    font-size: $type-2;
  }

  .page-body--content--body {
    max-width: 740px;
    margin: 0 auto $golden-ratio-4;

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: $golden-ratio-4;
      margin-bottom: $golden-ratio-2;
      -webkit-font-smoothing: antialiased;
    }

    p {
      -webkit-font-smoothing: antialiased;

      @include serif-body-rendering();

      @include respond(xs, sm) {
        font-size: $type-3;
      }
    }

    blockquote.blockquote-long {
      font-size: $type-2;
      background-color: $gray-0;
      margin: 0;
      max-width: 100%;
      padding: $golden-ratio-2 $golden-ratio-3;

      &::before,
      &::after {
        content: none;
      }

      p {
        margin-bottom: 1em;
      }
    }
  }
}
