body.single-competency,
article.competency {
  .article--populate--inner {
    display: flex;
    flex-direction: row;

    .utk-svg-wrap {
      margin-top: -$golden-ratio-3;
      margin-left: -$golden-ratio-3;
      margin-right: $golden-ratio-2;
      padding: 0;

      .utk-svg {
        width: $golden-ratio-6 !important;
      }
    }

    .article--competency--wrap {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    h1 {
      font-size: $type-5;
      margin-bottom: 0;
      width: 100%;
      font-weight: 700;
    }

    h2 {
      font-size: $type-1;
      margin-bottom: $golden-ratio-1;
      margin-top: $golden-ratio-2;
      text-transform: uppercase;
      color: $smokeyx;
    }

    .article--competency--definition,
    .article--competency--examples {
      width: 50%;
      padding-right: $golden-ratio-3;

      p,
      li {
        font-size: $type-2;
        color: $smokeyx;
      }

      ul {
        columns: 2;
        padding-left: 23px;

        li {
          line-height: 1.29em;
          margin-bottom: $golden-ratio-0;
          padding-right: $golden-ratio-1;
        }
      }

      ul:first-of-type,
      p:first-of-type {
        margin-top: 0;
      }
    }
  }
}

body.single-competency {
  .page-body--content {
    position: relative;
  }
}
