.utk-employment {
  &--body {
    display: block;
  }

  &--options {
    &--item {
      font-size: $type-2;

      strong {
        display: block;
        font-size: $type-1;
        text-transform: uppercase;
        color: $smokey;
      }
    }

    &--head {
      display: flex;
      justify-content: flex-start;
      margin: $golden-ratio-3 0 0;

      > div {
        padding-right: $golden-ratio-4;
        flex-shrink: 1;
        flex-grow: 0;
        line-height: 1.47em;
        margin-bottom: $golden-ratio-2;
      }

      .btn {
        height: $golden-ratio-4 !important;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        align-self: flex-end;
        margin: 0 0 $golden-ratio-3 auto;
      }
    }

    &--meta {
      background-color: $gray-0;
      padding: $golden-ratio-3 $golden-ratio-3 $golden-ratio-1;
      border-radius: $golden-ratio-0;
      display: flex;
      flex-wrap: wrap;

      div,
      p {
        font-size: $type-2;
      }

      > div {
        padding-right: $golden-ratio-4;
        margin-bottom: $golden-ratio-2;
        width: 33%;
        max-width: $gr-long;
        flex-grow: 1;
        flex-shrink: 0;
        line-height: 1.29em;

        strong {
          font-size: $type-1 !important;
          text-transform: none !important;
          margin-bottom: $golden-ratio-0;
          display: block;
        }
      }
    }
  }

  &--eeo {
    p,
    li {
      font-size: $type-1;
      color: $smokey;
    }
  }

  h2 {
    font-size: $type-3;
    margin: $golden-ratio-3 0 0;
  }
}

.facetwp-template {
  article.employment {
    margin-bottom: $golden-ratio-4;

    h2 {
      font-size: $type-3 !important;

      .article--header--title--new {
        background-color: $globe !important;
        color: $white;
        font-size: $type-0;
        line-height: 1em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: $golden-ratio-0;
        padding: 3px $golden-ratio-0;
        position: relative;
        margin-top: -2px;
        top: -3px;
      }
    }

    .article--employment-teaser--main {
      display: flex;

      &--description {
        width: $gr-long;
        padding-right: $golden-ratio-3;

        p {
          margin-top: 0;
          font-size: $type-2;
          margin-bottom: $golden-ratio-2;
        }
      }

      &--meta {
        width: $gr-short;
        font-size: $type-2;

        span {
          font-size: $type-2;
          display: block;
          margin-top: $golden-ratio-1;
          line-height: 1.29em;

          &:first-child {
            margin-top: 0;
          }

          strong {
            margin-bottom: 3px;
            font-size: $type-0;
            text-transform: uppercase;
            display: block;
            color: $smokey;
          }
        }
      }
    }
  }
}
