.facetwp-template {
  article.employment {
    margin-bottom: $golden-ratio-4;

    h2 {
      font-size: $type-3 !important;

      .article--header--title--new {
        background-color: $globe !important;
        color: $white;
        font-size: $type-0;
        line-height: 1em;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: $golden-ratio-0;
        padding: 3px $golden-ratio-0;
        position: relative;
        margin-top: -2px;
        top: -3px;
      }
    }

    .article--employment-teaser--main {
      display: flex;

      &--description {
        width: $gr-long;
        padding-right: $golden-ratio-3;

        p {
          margin-top: 0;
          font-size: $type-2;
          margin-bottom: $golden-ratio-2;
        }
      }

      &--meta {
        width: $gr-short;
        font-size: $type-2;

        span {
          font-size: $type-2;
          display: block;
          margin-top: $golden-ratio-1;
          line-height: 1.29em;

          &:first-child {
            margin-top: 0;
          }

          strong {
            margin-bottom: 3px;
            font-size: $type-0;
            text-transform: uppercase;
            display: block;
            color: $smokey;
          }
        }
      }
    }
  }
}
