.footer-university {
  &--inner {
    display: flex;
    justify-content: space-between;

    @include respond(xs, sm) {
      flex-direction: column;
    }
  }

  &--anchor {
    margin-right: $golden-ratio-5;
    position: relative;
    z-index: 0;
    font-size: $type-2;

    @include respond(xs, sm) {
      margin-right: 0;
    }

    p {
      font-size: inherit;
    }
  }

  &--identity--brand {
    display: flex;

    &--logo {
      display: block;

      img {
        height: $golden-ratio-4;
      }
    }
  }

  &--title {
    display: block;
    margin-bottom: $golden-ratio-1;
  }

  &--options {
    .options--item {
      color: $smokeyx;
      margin: 0 0 $golden-ratio-2;
      width: auto;
      float: left;
      clear: left;

      &:visited,
      &:focus,
      &:hover {
        color: $smokeyx;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &--menu {
    flex-grow: 1;

    #menu-university {
      display: flex;
      justify-content: space-between;

      > li {
        flex-grow: 1;
        font-size: $type-1;
        margin-right: $golden-ratio-4;

        a,
        a:visited,
        a:focus,
        a:hover {
          color: $smokeyx;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      /*
       * fixes margins on first level lists
       */
      > li > ul {
        margin-bottom: 0;
      }
    }

    ul.menu {
      margin: 0;
      padding: 0;

      li.menu-item {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    ul.dropdown-menu {
      margin: 0;
      padding: 0;
      margin-bottom: $golden-ratio-2;

      li.menu-item {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }

  &--search {
    margin-bottom: $golden-ratio-3;

    &--form {
      display: flex;

      .form-group {
        flex-grow: 1;

        > input {
          height: $golden-ratio-4;
          font-size: $type-2;
          color: $smokeyx;
          font-family: $sans;
          text-indent: $golden-ratio-2;
          width: 100%;
          border: 1px solid $gray-2;
          border-right: none;
        }
      }

      input[type=submit] {
        border: none;
      }
    }
  }
}
