.footer-libraries {
  padding: $golden-ratio-5 0;
  background-color: $white;
  color: $smokeyx;
  border-top: 6px solid $orange;
}

.footer-university {
  padding: $golden-ratio-4 0;
  background-color: $gray-1;
}

.footer-system {
  background-color: $smokeyx;
  color: $gray-1;
}
