.page-body--content-formal {
  position: unset !important;

  .facetwp-template {
    display: flex;
    flex-direction: column;

    .article--context {
      transition: $transition-all-fast;
      margin-bottom: 0;
      box-shadow: none;
      position: relative;
    }

    &-focus {
      article {
        opacity: 0.76;

        &.article--trigger-expand {
          opacity: 1;
          transition: $transition-all-fast;
        }

        &.article--trigger-expand .article--context {
          margin-top: $golden-ratio-2;
          margin-bottom: 0;
          z-index: 2;
          background-color: $white;
          box-shadow: $box-shadow;
        }
      }
    }
  }
}
