.page-body--content-formal {
  .page-body--content--title {
    text-align: center;
    margin-top: $golden-ratio-3;
    -webkit-font-smoothing: antialiased !important;

    * {
      -webkit-font-smoothing: antialiased !important;
    }

    &::before {
      content: '';
      width: $golden-ratio-6;
      height: $golden-ratio-0;
      display: block;
      background-color: $orange;
      margin: auto auto $golden-ratio-2;
    }
  }

  .page-body--content--body {
    p[style="text-align:center"]:first-child {
      font-size: $type-3;
      color: $smokey !important;
      max-width: $gr-long;
      margin: auto;
      -webkit-font-smoothing: antialiased !important;
    }
  }

  .facetwp-template {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: auto;
    position: relative;

    article {
      display: block;
      width: calc((100% - 116px) / 5);
      margin-right: $golden-ratio-3;

      .article--trigger {
        width: 100%;
        height: 100%;
        position: relative;

        .article--grid--image {
          display: block;
          width: 100%;
          padding-top: $gr-percent;
          background-color: $rock;
          position: relative;

          figure {
            margin: 0;

            span {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              text-align: center;
              display: flex;
              align-items: center;
              align-content: center;
              justify-content: center;
              -webkit-font-smoothing: antialiased;
              color: $smokey;
              letter-spacing: 0 !important;
              font-size: $type-4;
            }
          }
        }

        .article--header {
          &--title {
            font-size: $type-2 !important;
            line-height: 1.29em !important;
            margin: $golden-ratio-1 0 0 !important;
          }
        }
      }

      &:nth-child(5n) {
        margin-right: 0;
      }

      @include respond(md) {
        width: calc((100% - 87px) / 4);

        &:nth-child(5n),
        &:nth-child(3n),
        &:nth-child(2n) {
          margin-right: $golden-ratio-3;
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }

      @include respond(sm) {
        width: calc((100% - 58px) / 3);

        &:nth-child(5n),
        &:nth-child(4n),
        &:nth-child(2n) {
          margin-right: $golden-ratio-3;
        }

        &:nth-child(3n) {
          margin-right: 0;
        }
      }

      @include respond(xs) {
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: $golden-ratio-3;

        &:nth-child(5n),
        &:nth-child(4n),
        &:nth-child(3n) {
          margin-right: 0 !important;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        .article--context {
          display: flex;

          .article--grid--image {
            width: $golden-ratio-6;
            height: $golden-ratio-5;
            padding-top: 0;
            flex-shrink: 0;
            margin-right: $golden-ratio-1;
          }

          .article--header h2 {
            margin-top: $golden-ratio-0 !important;
          }
        }
      }

      .article--populate {
        display: none;
        background-color: $gray-0;
        position: absolute;
        width: 100%;
        left: 0;
        margin-top: $golden-ratio-2;
        height: $golden-ratio-8;
        z-index: 1;
      }
    }

    .article--trigger-expand {
      margin-bottom: calc(#{$golden-ratio-8 + $golden-ratio-4});

      .article--populate {
        display: block;
      }
    }
  }
}
