.utk-lib-header-noscript {
  .utk-logo-wrapper {
    .utk-logo-square {
      left: 0 !important;
    }

    .utk-logo-unit {
      left: 47px !important;
      padding-left: 18px !important;
    }
  }
}
