.banner .nav li {
  //@extend .nav-item;
}

.banner .nav a {
  //@extend .nav-link;
}

.page-header {
  position: relative;
  z-index: 0;
  height: calc(#{$golden-ratio-6 + $golden-ratio-3 + $golden-ratio-3});
  background-color: $gray-1;

  @include respond(xs, sm) {
    height: auto;
  }

  &--float {
    z-index: 10;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    margin-bottom: $golden-ratio-3;
    width: 100%;

    @include respond(xs, sm) {
      position: static;
      margin-bottom: 0;
      height: auto;
      line-height: 1.5em;
    }

    > .container {
      display: flex;
      align-items: flex-end;

      @include respond(xs, sm) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &--title {
    margin: 0;
    font-size: $type-4;
    line-height: $golden-ratio-4;
    color: $white;
    font-weight: 700;

    @include respond(xs, sm) {
      line-height: $golden-ratio-4;
      font-size: $type-3;
    }
  }

  &--title-wrap {
    display: block;
    color: $white;
  }

  &--title-wrap-long {
    h2 {
      padding-bottom: 0;
      margin-bottom: 0;
    }

    p {
      color: $gray-1;
      display: block;
      margin: 0;
      font-size: $type-3;

      @include respond(xs, sm) {
        display: none !important;
      }
    }
  }

  &.page-header-hero {
    height: auto !important;
    background-color: transparent;
    position: relative;
    max-width: 1364px;
    margin: 0 auto;

    .page-header--float {
      bottom: 0;
    }

    .page-header--title {
      color: $white;
    }
  }

  .page-header-hero--background {
    width: 100%;
    height: 100%;
    background-color: $smokey;
    overflow: hidden;
    z-index: 1;

    > img {
      width: 100%;
      min-width: 100%;
      height: auto;
    }
  }

  .page-header-hero--overlay {
    position: absolute;
    width: 100%;
    height: $golden-ratio-8;
    bottom: 0;
    background-color: $smokey;
    overflow: hidden;
    z-index: 2;

    @include filter-gradient(rgba($smokeyx, 0), 0%, rgba($smokeyx, 1), 80%);
  }
}

body.utk-search-open {
  .utk-header-main {
    overflow: hidden;
  }

  .utk-header-search {
    top: 82px;

    .utk-search-options {
      padding-left: 0;
    }

    .utk-search-wrapper {
      width: 100%;
      left: 0;
      max-width: 100%;

      input#utk-search-field {
        margin-left: 0;
        width: calc(100% - 425px);
      }
    }
  }
}

header.utk-header {
  transition: $transition-all;
}

/*
 * default behaviors at md, lg, xl... (desktop)
 */
@include respond(md, lg, xl) {
  .header-scroll-down {
    .utk-header-super {
      height: 0 !important;
    }

    .utk-header-main {
      margin-top: 0 !important;
    }

    .utk-logo-wrapper {
      .utk-logo-primary {
        top: -3000px;
        box-shadow: none;
        padding: 0;
        height: 0;
      }

      .utk-logo-square {
        left: 0;
      }

      .utk-logo-unit {
        left: $golden-ratio-4 !important;
        padding-left: $golden-ratio-2 !important;
      }
    }

    .page-header {
      z-index: auto;

      .page-body--aside {
        z-index: 3 !important;
      }

      .page-body--container {
        position: static;
      }

      .page-body--content {
        z-index: 0;
      }

      .page-header--float {
        height: 47px;
        background-color: $smokey;
        position: fixed;
        top: 81px;
        bottom: auto;
        z-index: 4;
        transition: $transition-all;

        .page-header--title-wrap {
          margin-left: 0;

          &.page-header--title-wrap-long {
            p {
              display: none !important;
            }
          }
        }

        h2.page-header--title {
          margin-left: 0;
          color: $white;
          font-size: 18px !important;
        }
      }
    }
  }
}

/*
 * default behaviors at sm (tablet)
 */
@include respond(sm) {
  .container {
    max-width: 100% !important;
  }

  .page-header {
    z-index: auto;

    .page-body--aside {
      z-index: 3 !important;
    }

    .page-body--container {
      position: static;
    }

    .page-body--content {
      z-index: 0;
    }

    .page-header--float {
      height: 47px;
      background-color: $smokey;
      position: fixed;
      top: 81px;
      bottom: auto;
      z-index: 4;
      transition: $transition-all;

      .page-header--title-wrap {
        margin-left: 0;
      }

      h2.page-header--title {
        margin-left: 0;
        color: $white;
        font-size: 18px !important;
      }
    }
  }

  .header-scroll-down:not(.header-show) {
    header.utk-header {
      top: -82px;
      box-shadow: none !important;
    }

    .page-header .page-header--float {
      top: 0 !important;
    }

    .aside-subsite-menu.preload #utk-subsite-menu {
      top: 94px !important;
    }
  }
}

/*
 * default behaviors at xs (mobile)
 */
@include respond(xs) {
  .page-header {
    z-index: auto;

    .page-body--aside {
      z-index: 3 !important;
    }

    .page-body--container {
      position: static;
    }

    .page-body--content {
      z-index: 0;
    }

    .page-header--float {
      height: 47px;
      background-color: $smokey;
      position: fixed;
      top: 66px;
      bottom: auto;
      z-index: 4;
      transition: $transition-all;

      .page-header--title-wrap {
        margin-left: 0;
      }

      h2.page-header--title {
        margin-left: 0;
        color: $white;
        font-size: 18px !important;
      }
    }
  }

  .header-scroll-down:not(.header-show) {
    header.utk-header {
      top: -66px;
      box-shadow: none !important;
    }

    .page-header .page-header--float {
      top: 0 !important;
    }

    .aside-subsite-menu.preload #utk-subsite-menu {
      top: 94px !important;
    }
  }
}

.utk-menu-open {
  #utk-lib-main,
  #utk-lib-midsection,
  #utk-lib-footer {
    filter: blur(11px);
  }
}
