body.page-id-393 #utk-lib-midsection .section-callout {
  display: none;
}

.utk-home {
  .utk-header-resources {
    display: block !important;
    position: relative;
    z-index: 0;
    max-height: none !important;
    height: auto !important;
    overflow: auto;
    padding-bottom: $golden-ratio-4 !important;
  }
}
