body.page-id-393 #utk-lib-midsection .section-callout {
  display: none;
}

.utk-home {
  padding: $golden-ratio-3 0 $golden-ratio-4;

  .utk-hours .utk-hours-header h3 {
    color: $smokey;
  }

  .utk-hours--listing--item a .utk-hours--listing--item--meta span.library-subtitle,
  .utk-hours--listing--item a:visited .utk-hours--listing--item--meta span.library-subtitle {
    color: $smokeyx !important;
  }

  &--container {
    display: flex;

    main {
      width: $gr-long;
    }

    aside {
      width: $gr-short;
      display: flex;
      flex-direction: column;
    }
  }

  .utk-grid {
    display: flex;
    flex-direction: column;

    &--row {
      display: flex;
      flex-direction: row;
      margin-bottom: $golden-ratio-3;

      &:last-child {
        margin-bottom: 0;
      }

      &--item {
        width: 33.333333%;

        &-double {
          width: 67.777777%;
        }
      }
    }
  }

  &--nav-list {
    h2 {
      font-size: $type-3;
      font-weight: 700;
      color: $smokey;
      margin: 0 0 $golden-ratio-0;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: $type-2;

        a,
        a:visited {
          color: $globe;
        }

        a:hover,
        a:focus {
          color: $leconte;
        }
      }
    }

    &-muted {
      h2 {
        font-size: $type-2;
        font-weight: 700;
        color: $smokey;
        margin: 0 0 $golden-ratio-0;
      }
    }

    &-solid {
      background-color: $gray-0;
      padding: $golden-ratio-2;
      border-radius: $golden-ratio-0;
      margin-right: $golden-ratio-3;

      ul {
        li {
          font-size: $type-1;
          font-weight: 700;
        }
      }
    }

    &-columns {
      margin-top: -$golden-ratio-2;

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        li {
          width: 50%;
          font-size: $type-1;
        }
      }
    }
  }
}

.utk-home-subhead {
  padding: $golden-ratio-2 0;
  background-color: $gray-0;

  &--container {
    display: flex;
  }

  .utk-home-subhead--nav-list {
    flex-grow: 1;
    display: flex;
    align-content: center;

    h2 {
      font-size: $type-2;
      font-weight: 400;
      text-transform: none;
      color: $smokey;
      margin: 0;
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: $type-2;
        font-weight: 700;
        margin-right: $golden-ratio-3;
        display: flex;
        align-items: center;

        &:first-child {
          margin-right: $golden-ratio-2;
          color: $rock;
        }

        &::after {
          display: inline-flex;
          width: 2px;
          height: $type-2;
          content: '';
          content: none;
          background-color: $gray-1;
          margin-left: $golden-ratio-1;
        }

        &:last-child {
          margin-right: 0;

          &::after {
            content: none;
          }
        }

        a,
        a:visited {
          color: $globe;
        }

        a:hover,
        a:focus {
          color: $leconte;
        }
      }
    }
  }
}

.utk-home--static-callout {
  background-color: $smokey;
  margin-right: $golden-ratio-4;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: $golden-ratio-0;

  > div {
    display: flex;
    position: absolute;
    width: 100%;
    height: $golden-ratio-4;
    background-color: $smokey;
    color: $white;
    bottom: 0;
    left: 0;
    z-index: 1;
    font-size: $type-2;
    font-weight: 700;
    align-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding-left: $golden-ratio-2;

    span {
      color: $orange !important;
    }
  }

  img {
    position: relative;
    z-index: 0;
    display: block;
    width: 100%;
    height: auto;
    margin-top: -$golden-ratio-2;
    opacity: 1;
  }
}

body .utk-home .utk-home--blog {
  background-color: $gray-0;
  display: flex;
  flex-direction: row;
  margin-top: -$golden-ratio-2;
  border-radius: $golden-ratio-0;
  overflow: hidden;
  padding: $golden-ratio-2;

  img {
    height: $golden-ratio-5;
    margin-right: $golden-ratio-2;
    opacity: 1;
  }

  &:hover,
  &:focus {
    img {
      opacity: 1;
    }
  }

  div.utk-home--blog--content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    h5 {
      margin: 0;
      padding: 0;
      font-size: $type-1;
      color: $smokeyx;
      font-weight: 400;
      flex-grow: 1;
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      text-transform: uppercase;
      text-decoration: none;
      margin-bottom: $golden-ratio-0;
    }

    > span {
      display: block;
      font-size: $type-2;
      color: $globe;
      font-weight: 700;
      line-height: 1.29em;
      text-decoration: none;
    }
  }
}

.utk-home--nav-services {
  padding: $golden-ratio-2;
  margin-right: $golden-ratio-4;
  border: 2px solid $gray-0;
  border-radius: $golden-ratio-0;
  display: flex;
  flex-wrap: wrap;

  &--title {
    font-size: $type-3;
    font-weight: 700;
    color: $smokeyx;
    margin: 0 0 $golden-ratio-0;
  }

  &--item {
    margin-bottom: $golden-ratio-1;
    padding-right: $golden-ratio-1;
    width: 50%;

    &:last-child {
      margin-bottom: 0;
    }

    &--link {
      font-size: $type-2 !important;
      font-weight: 700;
      color: $globe !important;
      display: block;

      &:hover,
      &:focus {
        color: $leconte !important;
      }
    }

    &--desc {
      display: block;
      font-size: $type-1;
      line-height: 1.47em;
      color: $smokeyx;
    }
  }
}
