.page-body {
  @include respond(xs, sm) {
    padding-top: $golden-ratio-4;
  }

  &--flex {
    display: flex;
    flex-direction: row;

    @include respond(xs, sm) {
      flex-direction: column-reverse;
    }
  }

  &--hide-title {
    > .page-body--content--title {
      font-size: 0;
      width: 1px;
      height: 1px;
      display: inline-block;
      overflow: hidden;
      position: absolute !important;
      border: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }

  &--content {
    width: calc(100% - 332px);
    position: relative;
    z-index: 1;
    margin-bottom: $golden-ratio-4;

    @include standard-body-link();

    @include respond(sm, xs) {
      width: 100%;
      margin-bottom: 0;
      padding: $golden-ratio-3 0;
    }

    @include respond(xs) {
      padding: $golden-ratio-2 0;
    }

    &.page-body--content-full {
      width: 100%;
    }
  }

  &--aside {
    width: 303px;
    margin-right: $golden-ratio-4;
    position: relative;
    z-index: 3;
    margin-bottom: $golden-ratio-5;

    @include respond(xs, sm) {
      width: 100%;
      margin: 0;
    }
  }
}

.page-body-nosidebar {
  .page-body--content {
    width: 100%;
  }
}

body.page {
  &.admin-bar {
    #utk-lib-main {
      @include respond(sm) {
        margin-top: 32px;
      }

      @include respond(xs) {
        margin-top: 32px;
      }
    }
  }
}
