.section-main {
  .page-header {
    background-color: $smokey;
  }

  .page-body {
    background-color: $white;
  }
}

.section-callout {
  background-color: transparent;

  > .container {
    padding: 0;
  }
}

.section-news-events {
  background-color: $white;
  padding: $golden-ratio-4 0;

  @include respond(md) {
    padding: $golden-ratio-4 0 0;
  }

  .row .col-lg {
    &:first-of-type .col--component {
      margin-right: 14.5px;

      @include respond(xs, sm) {
        margin-right: 0;
      }
    }

    &:last-of-type .col--component {
      margin-left: 14.5px;

      @include respond(xs, sm) {
        margin-left: 0;
      }
    }
  }

  .utk-calendar {
    padding: 0 0;
  }
}

.section-social {
  background-color: $gray-0;
  box-shadow: inset $box-shadow;
}
