.section-main {
  .page-header {
    background-color: $smokey;
  }

  .page-body {
    background-color: $white;
  }
}

.section-callout {
  background-color: transparent;

  > .container {
    padding: 0;
  }
}

.section-news-events {
  background-color: $white;
  padding: $golden-ratio-5 0;

  @include respond(xs, sm) {
    padding: $golden-ratio-4 0;
  }

  .row .col-lg {
    &:first-of-type .col--component {
      margin-right: 10px;

      @include respond(sm) {
        margin-right: 0;
        padding: 0 32px;
      }

      @include respond(xs) {
        margin-right: 0;
        padding: 0 14px;
      }
    }

    &:last-of-type .col--component {
      margin-left: 10px;

      @include respond(sm) {
        margin-left: 0;
        padding: 0 32px;
      }

      @include respond(xs) {
        margin-left: 0;
        padding: 0 14px;
      }
    }
  }

  .utk-calendar {
    padding: 0 0;
  }
}

.section-social {
  background-color: $gray-1;
}
