/* eslint-disable */

article.space {
  .utk-space {
    &--time {
      font-weight: 700;
      font-style: normal;
      font-size: $type-1;
      text-shadow: $box-shadow-float;
      display: flex;
      justify-content: left;
      align-items: center;

      &--indicator {
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 9px;
        background-color: $switchgrass;
        margin-right: $golden-ratio-0;
      }
    }
  }

  .article--grid--image .utk-space--time {
    position: absolute;
    left: $golden-ratio-2;
    bottom: $golden-ratio-0;
  }
}

.page-body--content-formal .facetwp-template > .facetwp-template--articles {
  margin-left: -23.5px;
  width: calc(100% + 47px);

  article.space {
    width: auto;
    flex-basis: calc(100% / 4);
    margin-right: 0 !important;
    padding: 0 23.5px;
  }
}

.page-body--archive .article-threshold-one {
  article.space:nth-child(1) {
    flex-basis: calc(100% / 2);

    .article--header {
      > h2 {
        font-size: $type-3 !important;
      }
    }
  }
}

.page-body--archive .article-threshold-two {
  article.space:nth-child(10) {
    flex-basis: calc(100% / 2);

    .article--header {
      > h2 {
        font-size: $type-3 !important;
      }
    }
  }
}

.utk-modal .article--populate--inner-space {
  padding: 0;

  article {
    height: 100%;
    display: flex;

    .utk-space--content {
      width: $gr-short;
      padding: $golden-ratio-3;
      position: relative;

      header > h3 {
        margin: 0 0 $golden-ratio-2;
        padding: 0;
        font-size: $type-4;
        line-height: 1.29em;
        font-weight: 700;
        letter-spacing: -0.029em;
      }
    }

    .utk-space--media {
      width: $gr-long;
      background-color: $rock;
      clip-path: polygon(0 0, 100% 0, 100% 100%, $golden-ratio-4 100%);
    }
  }
}
