.single-space {
  .page-body--formal-header {
    padding-bottom: $golden-ratio-6;

    @include respond(xs, sm) {
      padding-bottom: $golden-ratio-5;
    }

    .page-body--content--body {
      align-items: center;

      .utk-space--header {
        &--meta {
          display: flex;
          justify-content: center;

          &--item {
            margin: 0 9px;
            font-size: $type-1;
            font-weight: 700;
            color: $gray-0;

            a,
            a:visited,
            a:focus,
            a:hover {
              color: $white;
            }

            svg {
              width: 15px;
              height: 15px;
              fill: $orange;
              margin-right: 6px;
              position: relative;
              margin-bottom: -3px;
            }
          }
        }
      }
    }
  }
}
