/* eslint-disable */

article.space {
  .utk-space {
    &--time {
      font-weight: 700;
      font-style: normal;
      font-size: $type-1;
      text-shadow: $box-shadow-float;
      display: flex;
      justify-content: left;
      align-items: center;

      &--indicator {
        display: block;
        width: 9px;
        height: 9px;
        border-radius: 9px;
        background-color: $switchgrass;
        margin-right: $golden-ratio-0;
      }
    }
  }

  .article--grid--image .utk-space--time {
    position: absolute;
    left: $golden-ratio-2;
    bottom: $golden-ratio-0;
  }
}

.facetwp-template--articles {
  margin-left: -23.5px;
  width: calc(100% + 47px);

  article.space {
    width: auto;
    flex-basis: calc(100% / 4);
    margin-right: 0 !important;
    padding: 0 23.5px;
  }
}

.page-body--archive .article-threshold-one {
  article.space:nth-child(1) {
    flex-basis: calc(100% / 2);

    .article--header {
      > h2 {
        margin: 18px 0 0 !important;
        font-size: $type-3 !important;
        font-weight: 700;
      }
    }
  }
}

.page-body--archive .article-threshold-two {
  article.space:nth-child(10) {
    flex-basis: calc(100% / 2);

    .article--header {
      > h2 {
        margin: 18px 0 0 !important;
        font-size: $type-3 !important;
        font-weight: 700;
      }
    }
  }
}
