.single-space {
  .page-body--formal-header {
    padding-bottom: $golden-ratio-6;

    @include respond(xs, sm) {
      padding-bottom: $golden-ratio-5;
    }

    .page-body--content--body {
      align-items: center;

      .utk-space--header {
        &--meta {
          display: flex;
          justify-content: center;

          &--item {
            margin: 0 9px;
            font-size: $type-1;
            font-weight: 700;
            color: $gray-0;

            a,
            a:visited,
            a:focus,
            a:hover {
              color: $white;
            }

            svg {
              width: 15px;
              height: 15px;
              fill: $orange;
              margin-right: 6px;
              position: relative;
              margin-bottom: -3px;
            }
          }
        }
      }
    }
  }

  .utk-space--sheet {
    display: flex;

    .utk-space--details {
      width: 50%;
    }

    .utk-space--media {
      margin: -$golden-ratio-6 0 $golden-ratio-4;
      background-color: transparent;
      width: 50%;

      .utk-space--media--slider {
        > img {
          background-color: $rock;
          box-shadow: $box-shadow-float-submenu;
        }

        .utk-space-slider-display {
          background-color: $rock;
          box-shadow: $box-shadow-float-submenu;
          height: unset;

          > div {
            height: unset;
          }
        }

        .utk-space-slider-nav {
          margin-top: $golden-ratio-2;

          .slick-list {
            padding-left: 0;

            .slick-slide {
              margin-top: 0;

              &::after {
                box-shadow: none;
              }

              img {
                box-shadow: none !important;
              }
            }
          }
        }

        &--overlay {
          display: none;
        }
      }
    }
  }
}
