.single-space {
  .page-body--formal-header {
    padding-bottom: $golden-ratio-7;

    @include respond(xs, sm) {
      padding-bottom: $golden-ratio-6;
    }

    .page-body--content--body {
      align-items: center;

      .utk-space--header {
        &--meta {
          display: flex;
          justify-content: center;

          &--item {
            margin: 0 9px;
            font-size: $type-1;
            font-weight: 700;
            color: $gray-0;

            a,
            a:visited,
            a:focus,
            a:hover {
              color: $white;
            }

            svg {
              width: 15px;
              height: 15px;
              fill: $orange;
              margin-right: 6px;
              position: relative;
              margin-bottom: -3px;
            }
          }
        }
      }
    }
  }

  .utk-space--sheet {
    display: flex;
    margin: -$golden-ratio-7 0 $golden-ratio-4;
    position: relative;
    z-index: 1;

    .utk-space--details {
      width: 50%;
      padding-right: $golden-ratio-4;

      &--description {
        p {
          font-size: $type-2;
        }
      }

      &--interactions {
        display: flex;
        flex-direction: column;
        margin-bottom: $golden-ratio-5;

        .utk-space--hours {
          .DayPickerInput {
            box-shadow: $box-shadow-float;
          }

          .utk-space--time--span {
            height: 39px !important;
            margin-left: -$golden-ratio-5;
            padding-left: calc(#{$golden-ratio-5 + $golden-ratio-2});
            padding-right: $golden-ratio-2;
            font-size: $type-2;
            font-weight: 700;
            color: $white !important;
            display: flex;
            align-items: center;
            background-color: rgba($white, 0.11);
            border-radius: $golden-ratio-3;
            box-shadow: $box-shadow;
          }
        }

        &--steps {
          display: flex;
          flex-direction: row;
          margin-top: $golden-ratio-3;

          .btn.btn-outline {
            color: $white !important;
            border-color: rgba($white, 0.11);
            display: flex;
            align-items: center;

            > span {
              font-size: $type-0;
              margin-left: 6px;
              color: $orange;
            }
          }
        }
      }
    }

    .utk-space--media {
      background-color: transparent;
      width: 50%;

      .utk-space--media--slider {
        > img {
          background-color: $rock;
          box-shadow: $box-shadow-float-submenu;
        }

        .utk-space-slider-display {
          background-color: $rock;
          box-shadow: $box-shadow-float-submenu;
          height: unset;

          > div {
            height: unset;
          }
        }

        .utk-space-slider-nav {
          margin-top: $golden-ratio-2;

          .slick-list {
            padding-left: 0;

            .slick-slide {
              margin-top: 0;

              &::after {
                box-shadow: none;
              }

              img {
                box-shadow: none !important;
              }
            }
          }
        }

        &--overlay {
          display: none;
        }
      }
    }
  }
}
