@mixin filter-gradient($start, $start-percent, $end, $end-percent) {
  background: -moz-linear-gradient(top, $start $start-percent, $end $end-percent);
  background: -webkit-gradient(linear, top, bottom, color-stop($start-percent, $start), color-stop($end-percent, $end));
  background: -webkit-linear-gradient(top, $start $start-percent, $end $end-percent);
  background: -o-linear-gradient(top, $start $start-percent, $end $end-percent);
  background: -ms-linear-gradient(top, $start $start-percent, $end $end-percent);
  background: linear-gradient(to bottom, $start $start-percent, $end $end-percent);
}

@mixin filter-gradient-horizontal($start, $start-percent, $end, $end-percent) {
  background: -moz-linear-gradient(left, $start $start-percent, $end $end-percent);
  background: -webkit-gradient(linear, left, bottom, color-stop($start-percent, $start), color-stop($end-percent, $end));
  background: -webkit-linear-gradient(left, $start $start-percent, $end $end-percent);
  background: -o-linear-gradient(left, $start $start-percent, $end $end-percent);
  background: -ms-linear-gradient(left, $start $start-percent, $end $end-percent);
  background: linear-gradient(to right, $start $start-percent, $end $end-percent);
}

@mixin standard-body-link() {
  a,
  a:visited {
    color: $globe;
  }

  a:hover,
  a:focus {
    color: $leconte;
  }
}

@mixin muted-body-link() {
  a,
  a:visited {
    color: $smokey;
  }

  a:hover,
  a:focus {
    color: $globe;
  }
}

@mixin serif-body-rendering() {
  font-family: $serif;
  font-size: 21px;
  line-height: 1.58;
  word-break: break-word;
  letter-spacing: -0.003em;
}

// Named Breakpoints are phone, tablet-portrait, tablet-landscape-desktop, large-desktop, non-retina, retina
@mixin do-the-responds($media) {
  /* Mobile Devices for Mice */
  @if $media == xxs {
    @media (max-width: $xxs-upr) { @content; }
  }

  /* Landscape phones and down */
  @if $media == wpnocol {
    @media (max-width: 600px) { @content; }
  }

  /* Landscape phones and down */
  @if $media == xs {
    @media (max-width: $xs-upr) { @content; }
  }

  /* Landscape phone to portrait tablet */
  @if $media == sm {
    @media (min-width: $sm-lwr) and (max-width: $sm-upr) { @content; }
  }

  /* Portrait tablet to landscape and desktop */
  @if $media == md {
    @media (min-width: $md-lwr) and (max-width: $md-upr) { @content; }
  }

  /* desktop and large desktop */
  @if $media == lg {
    @media (min-width: $lg-lwr) and (max-width: $lg-upr) { @content; }
  }

  @if $media == xl {
    @media (min-width: $xl-lwr) and (max-width: $xl-upr) { @content; }
  }
}

@mixin respond($media...) {
  @each $mediatype in $media {
    @include do-the-responds($mediatype) { @content; }
  }
}

@mixin respondtoCustom($media...) {
  @each $mediatype in $media {
    @media (max-width: 700px) {
      @content;
    }
  }
}
