.post-type-archive-post,
.post-type-archive-feature,
.archive.category {
  .page-body--content {
    margin-top: $golden-ratio-5;
  }
}

.post-type-archive-feature .page-body-blog.page-body-truncate {
  .utk-formal--header--background {
    img {
      filter: blur(0) contrast(1.18) saturate(1.29) grayscale(0);
      opacity: 1 !important;
    }
  }

  .page-body--flex {
    padding-top: 0;
  }

  .utk-volume--title--inner {
    width: 50%;

    h2 {
      font-size: $type-5 !important;
      font-family: $font-volumes !important;
      font-weight: 700;
      letter-spacing: -0.029em;
      text-shadow: $box-shadow;
      line-height: 1.18em;
      color: $white !important;
      text-transform: none;
      -webkit-font-smoothing: subpixel-antialiased;
      margin: 0 0 $golden-ratio-2;

      &::before {
        content: ' ';
        height: $golden-ratio-0;
        width: $golden-ratio-6;
        display: block;
        background-color: $orange;
        margin-bottom: $golden-ratio-2;
      }
    }
  }

  .facetwp-template {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    > article {
      width: auto;
      flex-basis: 33.333333%;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      position: relative;
      text-align: center;
      padding: 0 23.5px;
      margin-bottom: $golden-ratio-4;

      a {
        color: $smokey;

        &:hover,
        &:focus {
          color: $globe;
        }
      }

      h2 {
        font-size: $type-3;
        letter-spacing: -0.029em;
        word-spacing: 0.018em;
        line-height: 1.29em;
        margin-bottom: 0;
        font-family: $font-volumes;
      }

      img {
        width: 100%;
        height: auto;
      }

      .page-body-blog--meta {
        span {
          font-size: $type-0;
          text-transform: uppercase;
          letter-spacing: 0.029em;
          font-weight: 400;
          color: $smokey;
        }
      }
    }
  }
}
