.post-type-archive-post,
.post-type-archive-feature,
.archive.category {
  .page-body--content {
    margin-top: $golden-ratio-5;
  }
}

.post-type-archive-post,
.archive.category {
  .facetwp-template {
    article {
      margin-bottom: $golden-ratio-4;
      display: flex;

      .article--thumbnail {
        width: $golden-ratio-7;
        margin-right: $golden-ratio-3;
        flex-shrink: 0;

        img {
          width: 100%;
          height: auto;
          border: 1px solid $gray-0;
        }
      }

      h2 {
        margin-top: 0;
        font-size: $type-4;
        line-height: 1.18em;
        letter-spacing: -0.029em;

        > a {
          color: $smokey;
        }
      }

      .page-body-blog--meta {
        span {
          text-transform: uppercase;
          font-size: $type-0;
          letter-spacing: 0.029em;
          font-weight: 400;
        }
      }

      .post-categories {
        margin-top: $golden-ratio-0;
        line-height: 1.76em;
      }

      p {
        font-size: $type-2;
        color: $smokey;
      }
    }
  }
}
