.post-type-archive-feature .page-body-blog.page-body-truncate {
  .utk-formal--header--background {
    height: 61.8%;

    img {
      filter: blur(0) contrast(1.18) saturate(1.29) grayscale(0);
      opacity: 1 !important;
    }
  }

  .page-body--flex {
    padding-top: 0;
  }

  .utk-volume--title--inner {
    width: 61.8%;

    h2 {
      font-size: $golden-ratio-4 !important;
      font-family: $font-volumes !important;
      font-weight: 700;
      letter-spacing: -0.029em;
      text-shadow: $box-shadow;
      line-height: 1.06em;
      color: $white !important;
      text-transform: none;
      -webkit-font-smoothing: subpixel-antialiased;
      margin: 0 0 $golden-ratio-2;

      &::before {
        content: ' ';
        height: $golden-ratio-0;
        width: $golden-ratio-6;
        display: block;
        background-color: $orange;
        margin-bottom: $golden-ratio-3;
      }
    }
  }

  //
  //.page-body--content--title {
  //  .utk-heading-1,
  //  h1 {
  //    margin-top: $golden-ratio-5 !important;
  //    font-family: $font-volumes !important;
  //    letter-spacing: -0.029em;
  //    line-height: 1.18em;
  //    font-weight: 700;
  //
  //    &::before {
  //      content: none;
  //    }
  //  }
  //}
  //
  //.page-body--tag {
  //  position: absolute;
  //  background-color: $white;
  //  text-transform: uppercase;
  //  font-weight: 700;
  //  font-size: $type-1;
  //  letter-spacing: 0.029em;
  //  -webkit-font-smoothing: subpixel-antialiased;
  //  line-height: 1em;
  //  padding: 11px 18px;
  //  left: 50%;
  //  transform: translate(-50%, -50%);
  //  box-shadow: $box-shadow;
  //  color: $smokey;
  //  border-top: 2px solid $orange;
  //  z-index: 2;
  //}
}
