.utk-splash---feature {
  display: flex;

  a {
    color: $smokey;
    display: flex;
    position: relative;

    &:visited {
      color: $smokey;
    }

    &:hover,
    &:focus {
      color: $globe;
    }
  }

  &--primary {
    width: $gr-long;
    padding-right: $golden-ratio-4;

    > .feature-post {
      flex-direction: column;
      margin-bottom: $golden-ratio-2;

      img {
        width: 100%;
        height: auto;
      }

      h3 {
        margin: $golden-ratio-2 0 0;
        font-size: $type-4;
        line-height: 1.29em;
        font-family: $font-volumes;
        font-weight: 700;
        letter-spacing: -0.029em;
        word-spacing: 0.018em;
        color: inherit;
      }
    }
  }

  &--secondary {
    width: $gr-short;

    > .feature-post {
      margin-bottom: $golden-ratio-3;

      img {
        width: $golden-ratio-6;
        height: $golden-ratio-5;
        margin-right: $golden-ratio-2;
      }

      h3 {
        font-size: $type-2;
        font-family: $font-volumes;
        line-height: 1.29em;
        font-weight: 700;
        margin: 0;
        letter-spacing: -0.029em;
        word-spacing: 0.018em;
        color: inherit;
      }
    }
  }

  &--meta {
    font-size: $type-0;
    text-transform: uppercase;
    letter-spacing: 0.029em;
    color: $smokeyx !important;
  }
}
