.utk-splash---feature {
  display: flex;

  @include respond(xs, sm) {
    flex-direction: column;
  }

  a {
    color: $smokey;
    display: flex;
    position: relative;

    &:visited {
      color: $smokey;
    }

    &:hover,
    &:focus {
      color: $globe;
    }
  }

  &--primary {
    width: $gr-long;
    padding-right: $golden-ratio-4;

    @include respond(xs, sm) {
      width: 100%;
      padding-right: 0;
    }

    > .feature-post {
      flex-direction: column;
      margin-bottom: $golden-ratio-2;

      img {
        width: 100%;
        height: auto;
      }

      h3 {
        margin: $golden-ratio-2 0 0;
        font-size: $type-4;
        line-height: 1.29em;
        font-family: $font-volumes;
        font-weight: 700;
        letter-spacing: -0.029em;
        word-spacing: 0.018em;
        color: inherit;
      }
    }
  }

  &--secondary {
    width: $gr-short;

    @include respond(xs, sm) {
      width: 100%;
      margin-top: $golden-ratio-2;
    }

    > .feature-post {
      margin-bottom: $golden-ratio-3;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: $golden-ratio-6;
        height: $golden-ratio-5;
        margin-right: $golden-ratio-2;

        @include respond(md) {
          width: $golden-ratio-5;
          height: $golden-ratio-4;
        }
      }

      h3 {
        font-size: $type-2;
        font-family: $font-volumes;
        line-height: 1.29em;
        font-weight: 700;
        margin: 0;
        letter-spacing: -0.029em;
        word-spacing: 0.018em;
        color: inherit;
      }
    }
  }

  &--meta {
    font-size: $type-0;
    text-transform: uppercase;
    letter-spacing: 0.029em;
    color: $smokey !important;
    line-height: 1.47em;
    display: block;
    margin-top: $golden-ratio-1;
  }
}
