.single-volume {
  .utk-formal--header--background {
    width: 100%;
    height: 61.8vw;
    min-height: 500px;
    max-height: calc(90vh - 82px);
    position: relative;

    img {
      opacity: 1 !important;
      margin-top: 0;
      filter: none;
    }
  }
}
