.tax-volume_category,
.post-type-archive-feature,
.single-volume,
.page-template-page-splash {
  .utk-formal--header--background {
    width: 100%;
    height: 61.8%;
    min-height: 500px;
    max-height: calc(90vh - 82px);
    position: relative;
    overflow: visible;

    img {
      opacity: 1 !important;
      margin-top: 0;
      filter: none;
    }

    &::after {
      position: absolute;
      width: 100%;
      height: $golden-ratio-8;
      min-height: 100%;
      left: 0;
      bottom: 0;
      content: '';
      background-color: transparent;
      z-index: 0;

      @include filter-gradient(rgba($smokeyx, 0), 0, rgba($smokeyx, 0.85), calc(100% - 123px));
    }
  }

  .utk-volume--title {
    position: absolute;
    bottom: 0;
    z-index: 1;
    margin-bottom: $golden-ratio-5;
    color: $white;
    width: 100%;
    left: 0;

    > .container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .utk-volume--splash {
      width: $gr-long;
      padding-left: $golden-ratio-6;
    }

    &--inner {
      width: $gr-short;
    }

    &--series {
      font-weight: 700;
      font-size: $type-0;
      text-transform: uppercase;
      display: block;
      opacity: 0.85;
    }

    h1 {
      font-size: $type-7 !important;
      font-family: $font-volumes !important;
      font-weight: 700;
      margin: 0;
      letter-spacing: -0.029em;
      text-shadow: $box-shadow;
      line-height: 1.06em;
      color: $white !important;
    }

    h2 {
      font-size: $type-2 !important;
      font-family: $sans !important;
      font-weight: 700;
      text-transform: uppercase;
      margin: 0 0 $golden-ratio-1;
      letter-spacing: 0.15em;
      text-shadow: $box-shadow;
      line-height: 1.29em;
      color: $sunsphere !important;
      -webkit-font-smoothing: subpixel-antialiased;
    }

    &--intro {
      display: block;
      font-size: $type-2;
      line-height: 1.47em;
    }
  }
}

.tax-volume_category .utk-formal--header--background {
  height: 600px;
}

.page-body--content-volumes {
  p {
    &:first-child {
      margin-top: 0;

      &::first-letter {
        float: left;
        font-size: 3.3em;
        font-weight: 400;
        line-height: 0.9em;
        margin-right: 5px;
        text-transform: none;
      }
    }

    @include serif-body-rendering();
  }
}
